


   <nav class="grayBG">
     <div class="container">
       <div class="row">
        <div class="col-sm-6">
         <a href=""> <img src="assets/front/landing_page/images/mpn-logo.png"></a>
        </div>

        <div class="col-sm-6 text-right">
         <a href="" class="btn round-btn lightBluebtn"> Agent Login</a>
        </div>
       </div>
     </div>
    </nav>

    <main role="main aboutPage" >
      <section class="aboutUs ">
        <div class="container">
         <div class="row flex_row">
          <div class="col-sm-12 secHead">
           <h1 class="text-center">About <span>US</span></h1>
        </div>
      </div>

      <div class="row ">
         <div class="col-sm-5 ">
          <div class="imgBox">
            <img src="assets/front/landing_page/images/aboutUS.png" class="img-fluid">
          </div>
        </div>
        <div class="col-sm-7 ">
          <div class="contect_botder">
            <h4>About Us </h4>
            <p>Global India Insurance Broker’s Pvt. Ltd. presents MyPolicyNow.com, one of the fastest-growing Insurance Broking initiatives in India.  This is our online chapter, a digital venture into the world of insurance. We provide complete peace of mind when it comes to the purchase and sales of insurance policies. Our infrastructure has been seamlessly integrated with peerless technology, making the transaction process easy and convenient</p>
            <p>We specialize in motor, health and life insurances. Being associated with the top insurers in the Indian market, we are in a position to offer smart, insightful and effective information that will help you compare policies, choose from a range of options, buy the ones that cater to your needs or sell motor, health & life insurance schemes to prospective customers.</p>
          </div>
        </div>
      </div>
        
      </div>
      </section>

      <section class="ourStory  grayBG">
        <div class="digitDot">
          <img src="assets/front/landing_page/images/digitalDots.png">
        </div>
        <div class="container">
         <div class="row flex_row">
          <div class="col-sm-12 secHead">
           <h1 class="text-center">Our <span>Story </span></h1>
          </div>
         </div>

         <div class="row ">
           <div class="col-sm-7 ">
          <div class="contect_botder">
            <h4>Story </h4>
            <p>Founded on the ideals of utilizing cutting-edge technological advancements for the benefit of clients, the foundation of MyPolicy.com was laid in October 2017, during a casual, yet thoughtful conversation between the brothers- Abhay Deep and Amit Deep, who is well-versed with BFSI and Technology. It was a conversation that revolved around the need to simplify insurance without compromising on regulatory compliances, extensive support to partners and a unique service to end customers.</p>
            <p>Soon, Mr. Linto (with 18 years of work experience in Motor Insurance), Mr. Govind (renowned in dealer networking), Mr. Vijay (an experienced compliance officer), Mr. Pai (a pioneer in the insurance industry) and Mr. Ameya (a noteworthy marketing professional) boarded the boat and </p>
            <a href="" class="readMore">Read More> </a>
          </div>
        </div>
         <div class="col-sm-5 ">
          <div class="imgBox">
            <img src="assets/front/landing_page/images/ourStory.png" class="img-fluid">
          </div>
        </div>
       
      </div>


        </div>
      </section>

       <section class="our_promise">
         <div class="digitDot">
          <img src="assets/front/landing_page/images/digitalDots.png">
        </div>
        <div class="digitDot">
          <img src="assets/front/landing_page/images/digitalDots.png">
        </div>
        <div class="container">
         <div class="row flex_row">
          <div class="col-sm-8 offset-sm-2 secHead">
           <h1 class="text-center">Our <span> Promise </span></h1>
           <p>The easiest, fastest and smartest way to paper-less insurance, for service providers and end consumers alike. With our tech solutions, we have brought the future of insurance to the present.</p>
          </div>
         </div>
         <h4>What makes us  <span>special?</span> </h4>

         <div class="row ">
           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms1.png">
              <p>Online platform for multiple group products</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms2.png">
              <p>Integrated Break-in inspection App</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms3.png">
              <p>Online Policy Cancellation & Endorsement (Customer & Agent)</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms4.png">
              <p>Integrated Claim Management system</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms5.png">
              <p>Multi Level Hierarchy and proprietary access control</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms6.png">
              <p>All products & services in single view window with roles & responsibility</p>
            </div>
           </div>

           <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms7.png">
              <p>Robust MIS</p>
            </div>
           </div>

             <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms8.png">
              <p>Adaptable to new technology</p>
            </div>
           </div>

             <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms9.png">
              <p>Support all type of Insurance companies' API</p>
            </div>
           </div>

             <div class="col-sm-4 ">
            <div class="promise">
              <img src="assets/front/landing_page/images/pms10.png">
              <p>AI & ML based solutions</p>
            </div>
           </div>
         
       
      </div>


        </div>
      </section>

       

        <section class="our_team">
        <div class="container">
         <div class="row flex_row">
          <div class="col-sm-8 offset-sm-2 secHead">
           <h1 class="text-center">Our <span> Team </span></h1>
           
          </div>
         </div>

         <div class="row">


          <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team1.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Abhay Deeip: <span>CEO</span> </h5>
                  <ul>
                    <li>IIM alumnus with 19 years of experience in financial services with specialization in Fintech</li>
                    <li>Played lead role in setting up retail platform.</li>
                    <li>Expertise in Motor Insurance and retail distribution</li>
                    <li>Pioneer in setting up new business arena in Insurance sector</li>
                    <li>Previously, has worked as Head for online distribution</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team2.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Amit Deep: <span> COO & CTO</span> </h5>
                  <ul>
                    <li>Technology and process expert with 20 years of experience.</li>
                    <li>Expertise in process development, strategic designs & implementation.</li>
                    <li>Expertise in BFSI.</li>
                    <li>Believe in innovation and out of box thinking</li>
                    <li>Previously, has worked with large technology firms at various senior management roles.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team3.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Linto Francis: <span>CSO</span> </h5>
                  <ul>
                    <li>M.B.A & Automobile engineer with 18 Years of experience in automobile, insurance and assistance sector</li>
                    <li>Expertise in Motor Insurance</li>
                    <li>Previously worked with companies including Large Insurance Brokers, General Insurance, Assistance company, Automobile manufacturers.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team4.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Vijay Hate: <span>VP – Legal & Ops</span> </h5>
                  <ul>
                    <li>MMM and LLB with 19 years of experience in insurance and finance sector</li>
                    <li>Expert in Insurance law & proces</li>
                    <li>Previously, has worked with Insurance Brokers</li>
                   
                  </ul>
                </div>
              </div>
            </div>
          </div>

              <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team5.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Chandrrakant Khatri: <br><span>Principal Officer</span> </h5>
                  <ul>
                    <li>MVS.c and Fellow (III), Diploma in Health (III).</li>
                    <li>Deep understanding in regulatory</li>
                    <li>Previously, worked with PSU Insurance Company</li>
                   
                  </ul>
                </div>
              </div>
            </div>
          </div>

              <div class="col-sm-6 ourTeam_box">
            <div class="row ">
               <div class="col-sm-3 pl-0">
                <div class="imgBox">
                  <img src="assets/front/landing_page/images/team6.png" class="img-fluid">
                </div>
              </div>
               <div class="col-sm-9 ">
                <div class="contect_botder">
                  <h5>Govind Khandelwal: <br><span>VP – Sales</span> </h5>
                  <ul>
                    <li>MBA with 16 years experience of channel management in insurance sector.</li>
                    <li>PAN India dealer Network</li>
                    <li>Expertise in Insurance Sales Process</li>
                    <li>Previously, has worked with Insurance Brokers</li>
                   
                  </ul>
                </div>
              </div>
            </div>
          </div>


         
         </div>
        </div>
      </section>

       

       



      <section class="joinUs">
        <div class="container">

          <div class="row flex_row">
          <div class="col-sm-8 offset-sm-2 secHead">
           <h1 class="text-center">Join <span> Us </span></h1>
           <p class="text-center">As a contemporary business, we are all about welcoming new ideas and ideologies, and offer a team who you can call ‘family’ and a work environment that you can call ‘home’! If this sounds like your ideal workplace, send us your resume on </p>
           <p class="text-center mb-5">We are hiring, and we would love to have a chat with you about your prospects with us.</p>
          </div>
         </div>


         <div class="row flex_row mb-5">
          <div class="col-sm-8 offset-sm-2">
          <ul class="openings">
            <li> <p>UI/UX</p> <a href="" class="btn round-btn redbtn">Apply Now</a></li>
            <li> <p>Frond End Developer</p> <a href="" class="btn round-btn lightBluebtn">Apply Now</a></li>
            <li> <p>Back End Developer</p> <a href="" class="btn round-btn orangebtn">Apply Now</a></li>
            <li> <p>Fullstack Developer</p> <a href="" class="btn round-btn greenbtn">Apply Now</a></li>
          </ul>
          </div>
          
         </div>
        </div>
      </section>

      




    </main><!-- /.container -->

    <footer>
      <div class="container">
        <div class="row">
         <div class="col-sm-4">
          <img src="assets/front/landing_page/images/mpn-logo-footer.png">
          <p class="phone mt-5"><i class="bi bi-telephone-fill"></i> &nbsp;+91-30303011</p>
          <p class="mt-3 mb-5"> Private Policy / Terms & Condition. © 2019</p>
          <ul class="social">
           <li> <a href=""> <img src="assets/front/landing_page/images/twitter.svg"> </a></li>
            <li> <a href=""> <img src="assets/front/landing_page/images/pinterest.svg"> </a></li>
            <li> <a href=""> <img src="assets/front/landing_page/images/facebook.svg"> </a></li>
            <li> <a href=""> <img src="assets/front/landing_page/images/instagram.svg"> </a></li>
          </ul>

         </div>
           <div class="col-sm-2 links">
            <h3>Links</h3>
            <ul>
           
            <li> <a href=""> HOME</a></li>
            <li> <a href=""> About</a></li>
            <li> <a href="">WHY US </a></li>
            <li> <a href="">Contact </a></li>
            <li> <a href="">Problems </a></li>
          </ul>
         </div>
           <div class="col-sm-3 contactDetails">
            <h3>Contact details</h3>
            <p>E: info@example.com </p>
            <p>P: +55 104 888 9012</p>
            <p>1018, 5th Floor, Summit-Business Bay, 
Behind Gurunanak Petrol Pump, Off Andheri Kurla Road, Beside Magic Bricks WEH metro stn., Andheri (E), 
Mumbai-400093, Maharashtra (India) .
</p>
         </div>
           <div class="col-sm-3 subscribe">
            <p>get all the updates of the <br> lifeguard to your inbox</p>
            <div class="sbscrbForm">
              <form>
                <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address">
                </div>
                <button class="btn"> Submit </button>
              </form>
            </div>

         </div>
        </div>
      </div>

      <div class="copyRight">
        <div class="container">
         <p> ©2021kesowa. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/front/landing_page/js/popper.min.js"></script>
    <script src="assets/front/landing_page/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/front/landing_page/js/slick.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
       
  $('.center').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    centerMode: true,
     centerPadding: '250px',
     responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
         centerPadding: '20px',
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
         centerPadding: '20px'
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
         centerPadding: '0'
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
});
    </script>
 