<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Dealer Cheque</h3>
        </div>
        <!-- <div class="col-auto float-right ml-auto">
      <button (click)="downloadExcel()" class="btn btn-custom green"><i class="fa fa-download"></i> Export All</button>
    </div> -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div *ngIf="atLeastOneRequired" class="alert alert-danger">
            <strong>{{atLeastOneRequired}}</strong>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card shadowbox">
            <div class="card-body pb-0">
                <form class="form-horizontal" [formGroup]="formRecodEdit">
                    <div class="row">
                        <div class="col-lg-2 col-md-4">
                            <div class="form-group">
                                <label>Enter Policy Number :</label>
                                <input formControlName="policy_no" type="text" class="form-control" placeholder="Policy No">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.policy_no.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.policy_no.errors">
                                        Please enter valid Policy Number.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Policy From :</label>
                                <div class="cal-icon">
                                    <input select-other-detail="other_field" (click)="e.toggle()" class="form-control" placeholder="yyyy-mm-dd" formControlName="policy_from" [(ngModel)]="date_picker_policy_from" ngbDatepicker #e="ngbDatepicker" placeholder="yyyy-mm-dd" autocomplete="off"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Policy To :</label>
                                <div class="cal-icon">
                                    <input select-other-detail="other_field" (click)="f.toggle()" class="form-control" placeholder="yyyy-mm-dd" formControlName="policy_to" [(ngModel)]="date_picker_policy_to" ngbDatepicker #f="ngbDatepicker" placeholder="yyyy-mm-dd" autocomplete="off" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Policy Created From :</label>
                                <div class="cal-icon">
                                    <input select-other-detail="other_field" (click)="el.toggle()" class="form-control" placeholder="yyyy-mm-dd" formControlName="policy_created_from" [(ngModel)]="date_picker_policy_created_from" ngbDatepicker #el="ngbDatepicker" placeholder="yyyy-mm-dd" autocomplete="off"
                                        readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Policy Created To :</label>
                                <div class="cal-icon">
                                    <input select-other-detail="other_field" (click)="fl.toggle()" class="form-control" placeholder="yyyy-mm-dd" formControlName="policy_created_to" [(ngModel)]="date_picker_policy_created_to" ngbDatepicker #fl="ngbDatepicker" placeholder="yyyy-mm-dd" autocomplete="off" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4" *ngIf="isIcListShow">
                            <div class="form-group">
                                <label>Insurance Name :</label>
                                <!-- <input formControlName="insurance_name"  type="text" class="form-control" > -->
                                <!-- <select select-other-detail="other_field" class="form-control" formControlName="insurance_name">
                  <option value="">Select IC</option>
                  <option *ngFor="let row of icList"  value="{{ row.id }}">{{ row.code }}</option>
              </select>   -->
                                <ng-select placeholder="Select IC" (clear)="clearValue('insurance_name',$event)" (change)="changeSelectBox('insurance_name',$event)" [(ngModel)]="selectedInsurance_name" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let row of icList" [value]="row.id">{{row.code}}</ng-option>
                                </ng-select>
                                <!-- <div class="error" *ngIf="submitted && formRecodEdit.controls.insurance_name.errors" >
                  <div *ngIf="submitted && formRecodEdit.controls.insurance_name.errors.required">
                    Insured Name is required.
                  </div>
                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4" *ngIf="isIcListShow" [ngStyle]="{'display':accessdisplay}">
                            <div class="form-group">
                                <label>Business Partner Name :</label>
                                <!-- <select select-other-detail="other_field" class="form-control" formControlName="misp_name">
                  <option value="">Select Misp</option>
                  <option *ngFor="let row of mispList"  value="{{ row.business_partner_master_id }}">{{ row.name_misp }}</option>
              </select>  -->
                                <ng-select placeholder="Select Business Partner" (clear)="clearValue('misp_name',$event)" (change)="changeSelectBox('misp_name',$event)" [(ngModel)]="selectedMisp_name" [ngModelOptions]="{standalone: true}">
                                    <ng-option *ngFor="let row of mispList" [value]="row.business_partner_master_id">{{row.name}}</ng-option>
                                </ng-select>
                                <!-- <div class="error" *ngIf="submitted && formRecodEdit.controls.misp_name.errors" >
                  <div *ngIf="submitted && formRecodEdit.controls.misp_name.errors.required">
                    Insured Mobile Number is required.
                  </div>
                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label class="d-block">&nbsp;</label>
                            <button (click)="submitForm()" type="submit" class="btn btn-custom green w-43" title="Search"><i class="fa fa-search"></i></button> &nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadowbox" *ngIf="showForm">
            <div class="card-body pb-0">
                <form class="form-horizontal" [formGroup]="formRecodUpdate">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Cheque No</label>
                                <input type="text" formControlName="cheque_no" class="form-control" placeholder="Cheque No" autocomplete="off">
                                <div class="error" *ngIf="submitted_filter && formRecodUpdate.controls.cheque_no.errors">
                                    <div *ngIf="submitted_filter && formRecodUpdate.controls.cheque_no.errors.required">
                                        Cheque No is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="form-group">
                                <label>Cheque Date</label>
                                <div class="cal-icon">
                                    <input (click)="e.toggle()" class="cheque_date form-control" placeholder="yyyy-mm-dd" formControlName="cheque_date" [(ngModel)]="date_picker_policy" ngbDatepicker #e="ngbDatepicker" placeholder="yyyy-mm-dd" readonly>
                                </div>
                                <!-- <input type="date" formControlName="cheque_date" class="form-control" placeholder="Cheque Date" autocomplete="off"> -->
                                <div class="error" *ngIf="submitted_filter && formRecodUpdate.controls.cheque_date.errors">
                                    <div *ngIf="submitted_filter && formRecodUpdate.controls.cheque_date.errors.required">
                                        Cheque Date is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" formControlName="bank_name" class="form-control" placeholder="Bank Name" autocomplete="off">
                                <div class="error" *ngIf="submitted_filter && formRecodUpdate.controls.bank_name.errors">
                                    <div *ngIf="submitted_filter && formRecodUpdate.controls.bank_name.errors.required">
                                        Bank Acount No is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="form-group">
                                <label>Branch Name :</label>
                                <input type="text" formControlName="bank_branch" class="form-control" placeholder="Branch Name" autocomplete="off">
                                <div class="error" *ngIf="submitted_filter && formRecodUpdate.controls.bank_branch.errors">
                                    <div *ngIf="submitted_filter && formRecodUpdate.controls.bank_branch.errors.required">
                                        Bank Acount No is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="form-group">
                                <label>Total Amount :</label>
                                <input type="text" readonly formControlName="total_amount" class="form-control" placeholder="Total Amount" autocomplete="off">
                            </div>
                        </div>
                        <div>
                            <label class="d-block">&nbsp;</label>
                            <button (click)="submitFormFilter()" type="submit" class="btn btn-custom green w-43" title="Search">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="card shadowbox">
            <div class="card-body">
                
                <div class="table-responsive">
                    <!-- <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered custom-table action-table datatable w-100 my-dataTable"></table> -->
                    <table datatable *ngIf="dtRendered" [dtOptions]="dtOptions" class="table table-striped table-bordered custom-table srn datatable"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <app-loading [loaderActive]="loaderActive" ></app-loading> -->
