<!-- Page Wrapper -->
        <div class="page-wrapper">
            <!-- Page Content -->
            <div class="content container-fluid">
            	<div class="container">
	            	<div class="row">
	                    <div class="col-12">
	                    	<br><br>

	                    	<div class="page-header">
			                    <div class="row align-items-center">
			                        <div class="col">
			                            <h3 class="page-title">Disclaimer</h3>
			                        </div>
			                    </div>
			                </div>

			                <div class="card shadowbox">
                            	<div class="card-body">
			                    	<p>The Web Site of Global-India Insurance Broker's Pvt. Ltd. ("GIIB") has been designed for ease of browsing experience and clients convenience.</p>
					                <p>GIIB grants you a limited license to download the contents from this website for personal use only. You are not permitted to reproduce or alter contents or material of this website, for any other purpose without the prior expressed written consent of GIIB.</p>
					                <p>Nothing in this website constitutes or is intended to constitute an offer of, or an invitation to purchase or subscribe for any insurance product.</p>
					                <p>The Web Site may provide Links to Third Party Web Sites. GIIB will not accept any liability for the contents and materials on these Third Party Web Sites.</p>
					                <p>GIIB, including its directors, affiliates, officers, employees, authorized representatives, agents, contractors, successors and assigns, will not accept any liability for any loss, damage or other injury resulting from its use. GIIB makes no warranties about the accuracy or completeness of any information contained on this website.</p>
					                <p>GIIB reserves the right to make changes, modifications, additions, deletions and corrections to the website, at any time and without notice.</p>
					            </div>
					        </div>
	                    </div>
	                </div>
	            </div>

            </div>
            <!-- /Page Content -->
        </div>
<!-- /Page Wrapper -->
