<div class="page-wrapper">
    <div class="content container-fluid">
        <app-tickers></app-tickers>
        <div class="page-header">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-9 col-md-10 col-12 mt-3">
                    <h3 class="page-title text-center">Upload Profile Image</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="card shadowbox">
                    <div class="card-body">
                        <form [formGroup]="formUpdate" (ngSubmit)="submitForm()">

                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <h5 class="my-2"><b>Upload File: <sup class="text-danger">*</sup></b></h5>
                                </div>
                                <div class="col-12 mb-4">
                                    <div class="box fileuploadbox">
                                        <input type="file" accept="image/*, application/pdf" id="image_url" class="inputfile" (change)="uploadProfile($event)">
                                        <label for="image_url">
                                          <figure>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                              <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                            </svg>
                                          </figure>
                                          <span>{{image_url_label}}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="uploaded-img">
                                        <img [src]="image_url" alt="">

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div *ngIf="submittedForm && formUpdate.controls.pro_image.errors">
                                        <small *ngIf="formUpdate && formUpdate.controls.pro_image.errors.required" class="text-danger">
                                          Please select image.
                                        </small>

                                    </div>

                                    <br><br>
                                    <button type="submit" class="btn btn-custom green w-100"> Submit</button>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <app-loader [loaderActive]="loaderActive"></app-loader>
    </div>
</div>