<div class="loginform" [ngStyle]="{'display':display}">
    <div>
        <h4>Forgot Password?</h4>
        <p>You forgot your password? <br>Here you can easily retrieve a new password.</p>
    </div>



    <form class="ui form" [formGroup]="submitForm" (ngSubmit)="submitFormDetails()">

        <div class="field" [ngClass]="{'error': submitted && submitForm.controls.email.errors}">

            <div class="ui left icon input">
                <input formControlName="email" class="form-control" type="text" placeholder="Email Address/Mobile Number" autocomplete="off">
                <i class="icon envelope"></i>
            </div>

            <div *ngIf="submitted && submitForm.controls.email.errors">
                <small *ngIf="submitted && submitForm.controls.email.errors.required" class="text-danger">
                    Please enter registered email address or mobile number.
                </small>
            </div>

        </div>

        <div class="alert mb-0 {{msgClass}}" [ngStyle]="{'display':display}">
            <strong>{{responseMsg}}</strong>
        </div>

        <button class="btn btn-block btn-lg" type="submit">Submit Request</button>

        <div class="row my-2 align-items-center">
            <div class="col-12 text-center my-2">
                Remember your password? <a href="javascript:void(0);" [routerLink]="['/login']"> Login </a>
            </div>
        </div>
    </form>
</div>

<div class="loginformOtp" [ngStyle]="{'display':displayOtp}">
    <div>
        <h4>Forgot Password?</h4>
        <p>You forgot your password? <br>Here you can easily retrieve a new password.</p>
    </div>



    <form class="ui form" [formGroup]="submitFormOtp" (ngSubmit)="submitFormDetailsOtp()">

        <div class="field" [ngClass]="{'error': submitted && submitFormOtp.controls.otp.errors}">

            <div class="ui left icon input">
                <input formControlName="otp" class="form-control" type="text" placeholder="Otp" autocomplete="off">
                <i class="icon mobile"></i>
            </div>

            <div *ngIf="submitted && submitFormOtp.controls.otp.errors">
                <small *ngIf="submitted && submitFormOtp.controls.otp.errors.required" class="text-danger">
                    Please enter otp.
                </small>
            </div>

        </div>

        <div class="alert {{msgClassOtp}}" [ngStyle]="{'display':displayOtp}">
            <strong>{{responseMsgOtp}}</strong>
        </div>

        <button class="btn btn-block btn-lg" type="submit">Submit Otp</button>

        <div class="row my-4 align-items-center">
            <div class="col-12 text-sm-right my-2">
                <a href="javascript:void(0);" (click)="resendOtp()"> Resend OTP</a>
            </div>
        </div>
    </form>
</div>

<div class="loginformOtpValidate" [ngStyle]="{'display':displayOtpValidate}">
    <div>
        <h4>Forgot Password?</h4>
        <p>You forgot your password? <br>Here you can easily retrieve a new password.</p>
    </div>



    <form class="ui form" [formGroup]="submitFormOtpValidate" (ngSubmit)="submitFormDetailsOtpValidate()">

        <div class="field" [ngClass]="{'error': submitted && submitFormOtpValidate.controls.password.errors}">
            <div class="ui left icon input">
                <input formControlName="password" class="form-control" type="password"  placeholder="New Password"  autocomplete="off" maxlength="{{maxPassLen}}">
                <i class="icon lock"></i>
            </div>
            <div *ngIf="submitted && submitFormOtpValidate.controls.password.errors">
                <small *ngIf="submitted && submitFormOtpValidate.controls.password.errors.required" class="text-danger"> 
                    Please enter new password.
                </small>
                <small *ngIf="submitted && submitFormOtpValidate.controls.password.errors.pattern" class="text-danger"> 
                    Please enter valid password.
                </small>
            </div>
            <div>
                <br>
                <p>[ <b>Note:</b> Password should be minimum {{ minPassLen }} charaters and maximum {{ maxPassLen }} characters long.<br> Password should contain atleast one lowercase, one uppercase, one digit and one special character]</p>
            </div>
        </div>


        <div class="field" [ngClass]="{'error': submitted && submitFormOtpValidate.controls.confirmPassword.errors}">
            <div class="ui left icon input">
                <input formControlName="confirmPassword" class="form-control" type="password"  placeholder="Confirm Password" autocomplete="off" maxlength="{{maxPassLen}}">
                <i class="icon lock"></i>
            </div>
            <div *ngIf="submitted && submitFormOtpValidate.controls.confirmPassword.errors">
                <small *ngIf="submitted && submitFormOtpValidate.controls.confirmPassword.errors.required" class="text-danger"> 
                    Please enter confirm password.
                </small> 
            </div>

            <div>
                <small class="text-danger" [ngStyle]="{'display':displayConfirmPassword}">
                    <strong>{{responseMsgConfirmPassword}}</strong>
                </small>
            </div>
        </div>

        <div class="alert {{msgClassOtpValidate}}" [ngStyle]="{'display':displayOtpValidate}">
            <strong>{{responseMsgOtpValidate}}</strong>
        </div>

        <button class="btn btn-block btn-lg" type="submit">Submit</button>

        <div class="row my-4 align-items-center">
            <div class="col-12 text-sm-right my-2">
                Remember your password? <a href="javascript:void(0);" [routerLink]="['/login']"> Login </a>
            </div>
        </div>
    </form>
</div>



<div class="loginformOtpValidateSuccess" [ngStyle]="{'display':displayOtpValidateSuccess}">
    <div>
        <h4>Forgot Password?</h4>
        <p>You forgot your password? <br>Here you can easily retrieve a new password.</p>
    </div>



    <a class="btn btn-block btn-lg" href="javascript:void(0);" [routerLink]="['/login']"><i class="fa fa-reply"></i> Back To Login</a>
</div>
<app-loader [loaderActive]="loaderActive"></app-loader>
