<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Change Password</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']" href="javascript:void(0)">Dashboard</a></li>     
          <li class="breadcrumb-item active">Change Password</li>
                
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="card">
    <div class="card-body login-card-body">
     
  
      <form [formGroup] ="submitForm" (ngSubmit)="getFormData()" >
      
        <div class="input-group mb-3">
          <input formControlName="OldPassword" type="password" class="form-control" placeholder="Old Password">        
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>        
        </div>
  
        <div class="input-group mb-3">
          <div *ngIf="submitted && submitForm.controls.OldPassword.errors" class="error">
            <div *ngIf="submitForm.controls.OldPassword.errors.required" class="font-11">Old Password is required</div>
          </div>
        </div>



        <div class="input-group mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="New Password">        
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>        
        </div>
  
        <div class="input-group mb-3">
          <div *ngIf="submitted && submitForm.controls.password.errors" class="error">
            <div *ngIf="submitForm.controls.password.errors.required" class="font-11">New Password is required</div>
          </div>
        </div>


        <div class="input-group mb-3">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm  Password">        
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>        
          </div>
    
          <div class="input-group mb-3">
            <div *ngIf="submitted && submitForm.controls.confirmPassword.errors" class="error">
              <div *ngIf="submitForm.controls.confirmPassword.errors.required" class="font-11">Confirm Password is required</div>
            </div>
          </div>
  
  
        <div class="input-group mb-3">
          <input type="submit" class="form-control btn btn-primary" value="Change Password">
          
        </div>
        
      </form>
    </div>
  
  </div>

</section>


  