
<div class="page-wrapper">
    <div class="content container-fluid">
        <app-tickers></app-tickers>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Set <span *ngIf="tab_hide_for_dp">DP User</span> <span *ngIf="!tab_hide_for_dp">User</span> Privileges ( {{ name }} )
                    </h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-9 col-md-10 col-12">
                <div class="card shadowbox">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form [formGroup]="formDetails" (ngSubmit)="submitForm()">
                                    <div class="error text-center">
                                        <div class="errorbox" *ngIf="submittedForm  && formDetails.controls.selectedProductIds.errors && formDetails.controls.selectedProductIds.errors.required">
                                            Please select product type.
                                        </div>
                                        <div class="errorbox" *ngIf="submittedForm  && formDetails.controls.selectedIcIds.errors && formDetails.controls.selectedIcIds.errors.required">
                                            Please select IC.
                                        </div>

                                    </div>

                                    <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                        <li class="nav-item"><a class="nav-link active" href="#privileges-tab1" data-toggle="tab">Product</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#privileges-tab3" data-toggle="tab">IC</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="privileges-tab1">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-9 col-md-10 col-12">
                                                    <ngx-treeview [config]="config" [items]="result_product_tree" (selectedChange)="onSelectedProductPolicyPolicySubtypeIdsChange($event)">
                                                    </ngx-treeview>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="privileges-tab3">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-lg-9 col-md-10 col-12">
                                                    <ngx-treeview [config]="config" [items]="result_ic_tree" (selectedChange)="onSelectedIcIdsChange($event)">
                                                    </ngx-treeview>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-custom green btn-lg">Set Privileges</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [loaderActive]="loaderActive"></app-loader>