.bg-brand-red,
.btn.red,
.sidebar-menu li.active a,
.sidebar-menu li.submenu>a.active,
.display-box .display-text,
.checkbox-instab:checked+label,
.proposal-infobar,
.ui.form label.ui.label,
.login-form .btn:hover {
    background-color: #666;
}

.btn.green,
.login-form .btn {
    background-color: #000;
}

.login-form .btn:hover {
    color: #fff;
}

.text-brand-red,
.btn.red:hover,
.sidebar-menu li a:hover,
.display-box:hover .display-text h3,
.checkbox-instab:checked+label,
.checkbox-instab:not(:checked)+label,
.productbar .ui.checkbox label,
.productbar .ui.checkbox+label,
.btn.green:hover {
    color: #666 !important;
}

.btn.red:hover,
.display-box .display-text,
.display-box:hover .display-text,
.checkbox-instab:checked+label,
.checkbox-instab:not(:checked)+label,
.checkbox-instab:checked+label,
.ui.form label.ui.label,
.btn.green:hover,
.login-form .btn:hover {
    border-color: #666;
}

.checkbox-instab:checked+label {
    background: linear-gradient( #666, #333);
}

.header,
.card-header,
.bg-brand-blue,
.blue-gradient,
.btn.blue,
.btn.blue:hover {
    background-color: #d61618;
}

.proposalform .card-header h3,
.text-brand-blue {
    color: #d61618;
}

.topsearchbar,
.blue-gradient,
.btn.blue:hover,
.login-form .form-control {
    border-color: #d61618;
}

.blue-gradient {
    background: linear-gradient( #d61618, #b00f11);
}

.isuzu_preeloader {
    background: rgba(255, 255, 255, .6) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.isuzu_preeloader {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: rgba(255, 255, 255, .6);
    background-image: url(./loader_isuzu.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px 60px;
}