<!-- Page Wrapper -->
        <div class="page-wrapper">
            <!-- Page Content -->
            <div class="content container-fluid">
            	<div class="container">
	            	<div class="row">
	                    <div class="col-12">
	                    	<br><br>

	                    	<div class="page-header">
			                    <div class="row align-items-center">
			                        <div class="col">
			                            <h3 class="page-title">Privacy Policy</h3>
			                        </div>
			                    </div>
			                </div>

			                <div class="card shadowbox">
                            	<div class="card-body">
			                    	<p>We at Global-India Insurance Broker's Pvt. Ltd. (GIIB) consider your privacy with utmost priority. We are committed in establishing trusted relationship based on respect for personal identity and right to privacy with all our customers. This Privacy Policy outlines our information-sharing practices to help you understand how we protect your privacy, when we collect and use information about you, and the measures we take to protect the confidentiality of that information.</p>
					                <p>If you are concerned regarding our privacy policy you should contact or visit our website or by sending email to <a href="mailto:info@giib.co.in"> info@giib.co.in</a>. Your Confidential Information includes, but is not limited to information on vehicles, Health &amp; Life insurance. Just for visiting our website we never ask for any Confidential Information. We may request your Confidential Information from you at our site in order to deliver requested Information to you and deliver an insurance or benefits related service.</p>
					                <p>Confidential Information which you choose to provide us is the only information collected by us. By using our Web site you agree to the uses of your Confidential Information described in this notice. If at any time this policy changes, those changes will be posted on this page of our Web site, so that you are aware of our aim to better protect your privacy.</p>
					                <h4 class="margin-one no-margin-top  text-uppercase"><b>Confidentiality Practices</b></h4>
					                <p>We support the concept of non-disclosure of your Confidential Information. We also hold our business associates and our affiliates to similar confidentiality standards. Your Confidential Information must be used and disclosed in a manner consistent with applicable laws and regulations as well as contractual obligations.</p>
					                <p>Protected Health Information is defined as individually identifiable health information that is held or transmitted by our company in performance of our contractual obligations with clients. This type of information includes information in electronic and paper form.</p>
					                <h4 class="margin-one no-margin-top  text-uppercase"><b>Information We Share</b></h4>
					                <p>We do not use, disclose or transfer any Confidential Information unless required or permitted by law or regulation. In cases of permitted disclosure, we will disclose information in compliance with applicable laws and regulations and will require the recipient to protect the information and use it only for the purpose provided. We may share your information with the third parties with whom we are dealing for the limited purposes provided we have your consent.</p>
					                <p>For example, we may disclose your Confidential Information in order to market your insurance coverage directly with insurers and providers. Additionally, we may disclose your Confidential Information in the event of a reorganization or merger.</p>
					                <h4 class="margin-one no-margin-top  text-uppercase"><b>Information Security</b></h4>
					                <p>We restrict access to your Confidential Information to our employees who need to know such information in order to provide you with the insurance products or services for which you have engaged us. We maintain physical, electronic, and procedural safeguards that comply with Indian state regulations to guard your Confidential Information.</p>
					                <p>Live chat sessions on our site are encrypted to encode information that you share with our operators. By contrast, be aware that e-mail messages sent in clear text over the public Internet can be observed by an unintended third party. Non-encrypted Internet e-mail communications may be accessed and viewed by other Internet users without your knowledge and permission while in transit to us. If you wish to keep your information private, please do not use electronic mail to communicate information to us or request information from us that you consider to be Confidential and/or proprietary. If you wish, you may contact us instead via telephone at the phone number provided elsewhere in this Web site.</p>
					                <p>By using this Site, you signify your acceptance of our policies.</p>
					                <h4 class="margin-one no-margin-top  text-uppercase"><b>Links to Other Sites</b></h4>
					                <p>We may provide links to other Web sites not owned or controlled by us that we think might be useful or of interest to you. We are not, however, responsible for the privacy practices used by other Web site owners or the content or accuracy contained on those other Web sites. Links to other Web sites do not constitute or imply endorsement by us of those Web sites, any products or services described on those Web sites or any other material contained in them. Contact those Web sites directly for their individual privacy policies.</p>
					                <h4 class="margin-one no-margin-top  text-uppercase"><b>Changes to Our Privacy Policy</b></h4>
					                <p>We reserve the right to make changes to our Privacy Policy at any time. Such changes will be posted on this page. We encourage you to review the Web site and the Privacy Policy in particular periodically for any updates or changes. Your continued access or use of this Web site shall be deemed your acceptance of all terms and conditions contained in this Privacy Policy.</p>
					            </div>
					        </div>
	                    </div>
	                </div>
	            </div>

            </div>
            <!-- /Page Content -->
        </div>
<!-- /Page Wrapper -->
