<!-- <p>pay-in-slip works!</p> -->
<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
        <app-tickers></app-tickers>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">PAYIN SLIP</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/my-account/dashboard']" href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active">PAYIN SLIP</li>
                    </ul>
                </div>                
            </div>
        </div>

        <div class="row">
            <!-- <div class="col-9"></div>
            <div class="col-3">
                <button class="btn btn-custom h40 green w-100" [disabled]="true" >Generate Pay In Slip</button>
            </div>
            <br/> -->
            <div class="col-12">
                <div class="card shadowbox">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered custom-table srn action-table datatable w-100">
                            	
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Wrapper-->
<app-loader [loaderActive]="loaderActive"></app-loader>