
  	<div class="dashboard-footer">
		<footer class="footer">
		 <div class="copyright">
		    <div class="container">
		       <div class="row">
		          <div class="col-12">
		             <p>Copyright &copy; 2020  Global-India Insurance Broker's Pvt. Ltd. | All Rights Reserved | Powered By <a href="http://indicosmic.com" target="_blank" title="ICPL">ICPL</a></p>
		             <p>Licence No.:538. IRDAI Direct Broker Code:IRDAI/DB 596/14. <br>Valid Till: 04-10-2024. CIN No.: U66000MH2014PTC318309. GST No.: 27AAFCG7680Q1ZQ</p>
		             <p><a href="#">Privacy Policy</a> / <a href="#">Disclaimer</a></p>
		          </div>
		       </div>
		    </div>
		 </div>
		</footer>
    </div>



