th{
	font-size: 22px !important;
}
td{
	font-size: 20px !important;
}

.succ{
	background-color: green !important;
}
.dup{
	background-color: yellow !important;
}
.err{
	background-color: red !important;
}
.tot{
	background-color: aquamarine !important;
}

ul.b {
  list-style-type: square !important;
}