<!-- Page Header -->
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Manage Greeting</h3>
    </div>
    <div class="col-auto float-right ml-auto">
      <button (click)="openModel()" data-toggle="modal" data-target="#openmodal" class="btn btn-custom green" *ngIf="access_permission == 'read_write'"><i class="fa fa-plus"></i> Add Greeting Details</button>
    </div>
    <!-- <div class="col-auto float-right ml-auto">
      <button (click)="getIndex()"   class="btn btn-custom blue"><i class="fa fa-download"></i>Export</button>
    </div> -->
  </div>
</div>
<!-- /Page Header -->


<div class="row">
  <div class="col-md-12">
    <div class="card shadowbox">
      <div class="card-body">
        <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered custom-table srn action-table datatable w-100" id="excel-table"></table>
      </div>
    </div>
  </div>
</div>
</div>
<div id="openmodal" class="modal custom-modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <form [formGroup]="formRecodEdit"  method="post" (ngSubmit)="submitForm()" >
      <input formControlName="id"  type="hidden" class="form-control" >
      <div class="modal-header">
        <h5 class="modal-title">{{ popupTitle }}</h5>
        <button (click)="closePopup()"  type="button" class="close" data-dismiss="modal" #closeAddExpenseModal>&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
                <div class="form-group">
                                <label><span class="error">*</span>Name:</label>
                                <input formControlName="name" type="text" class="form-control" minlength="2" maxlength="25">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.name.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.name.errors.required">
                                        Name is required.
                                    </div>
                                    <div class="error" *ngIf="submitted && formRecodEdit.controls.name.errors.pattern">
                                        Please enter valid name.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.name.errors.minlength">
                                        Please enter at least 2 characters.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.name.errors.maxlength">
                                        Please enter no more than 25 characters..
                                    </div>
                                </div>
                            </div>
            </div>
             <div class="col-sm-12">
                <div class="form-group">
                                <label><span class="error">*</span>Description:</label>
                                <textarea formControlName="description" rows="7" type="text" class="form-control" minlength="2"></textarea>
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.description.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.description.errors.required">
                                        description is required.
                                    </div>
                                    <div class="error" *ngIf="submitted && formRecodEdit.controls.description.errors.pattern">
                                        Please enter valid description.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.description.errors.minlength">
                                        Please enter at least 2 characters.
                                    </div>
                                </div>
                            </div>
            </div>
             <div class="col-sm-12">
                            <div class="form-group">
                                <label>Image File:</label>
                                <input type="file" formControlName="greeting_image"  accept="image/jpeg,image/png" (change)="uploadLogo($event)"  class="form-control">
                                <div><b>Note: </b>Allowed file type "jpg", "png", "jpeg"</div> 
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.image.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.image.errors.required">
                                        Image File is required.
                                    </div>
                                    <!-- <input type="hidden" formControlName="image"> -->
                                    <img *ngIf="greeting_image" style="width: 100px; height: 100px" [src]="greeting_image">
                                <input type="hidden" formControlName="greeting_img">
                                </div>
                            </div>
                        </div>
               <div class="col-sm-12">
              <div class="form-group">
                <label>Top Search:</label>
                <select class="form-control" formControlName="is_top_search" >
                  <option value="">Select Top Search</option>
                  <option value="yes"  >Yes</option>
                  <option value="no"  >No</option>
                </select>
                <div class="error" *ngIf="submitted && formRecodEdit.controls.is_top_search.errors" >
                  <div *ngIf="submitted && formRecodEdit.controls.is_top_search.errors.required">
                    Top Search is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Status:</label>
                <select class="form-control" formControlName="status" >
                  <option value="">Select Status</option>
                  <option value="{{ row.status_id }}" *ngFor="let row of statusData" >{{ row.lable }}</option>
                </select>
                <div class="error" *ngIf="submitted && formRecodEdit.controls.status.errors" >
                  <div *ngIf="submitted && formRecodEdit.controls.status.errors.required">
                    Status is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <div class="alert {{msgClass}}" [ngStyle]="{'display':display}">
                <strong>{{responseMsg}}</strong>
              </div>
            </div>
          </div>
          <div class="submit-section">
            <input *ngIf="btnEditSubmit" class="btn btn-custom green btn-lg" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-managemotor-loader  [loaderActive]="loaderActive"></app-managemotor-loader>