<div class="main-wrapper">
    <!-- Header -->
    <header class="header">
        <div class="container-fluid">
            <div class="header-left">
                <a href="index.php" class="logo">
                    <img src="assets/front/img/mpn-logo.png" alt="">
                </a>
            </div>
            <a id="mobile_btn" class="mobile_btn" href="#mobmenu"><i class="fa fa-bars"></i></a>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Products</a>
                        <ul class="sub-menu">
                            <li><a href="javascript:void(0);">Car Insurance</a></li>
                            <li><a href="javascript:void(0);">Bike Insurance</a></li>
                            <li><a href="javascript:void(0);">Commercial Insurance</a></li>
                            <li><a href="javascript:void(0);">Travel Insurance</a></li>
                            <li><a href="javascript:void(0);">Life Insurance</a></li>
                            <li><a href="javascript:void(0);">Health Insurance</a></li>
                            <li><a href="javascript:void(0);">Home Insurance</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">About Us</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Claims</a>
                    </li>
                </ul>
            </div>
            <div class="header-right main-menu float-right">
                <ul>
                    <li><i class="fa fa-mobile"></i> +91 22 26820489</li>
                    <li><i class="fa fa-envelope-o"></i> info@mypolicynow.com</li>
                    <li class="login-btn"> <a href="javascript:void(0)"><i class="fa fa-user-o"></i>  Login <i class="fa fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="javascript:void(0);" [routerLink]="['/login']">POSP Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <!-- Page Content -->
        <div class="content">
            <section id="homebanner">
                <div class="homeanimation">
                    <div class="cloud_window">
                        <div class="cloud cloud-1" data-speed="1"><img src="assets/front/img/homepage/cloud-1.png" alt=""></div>
                        <div class="cloud cloud-2" data-speed="2"><img src="assets/front/img/homepage/cloud-2.png" alt=""></div>
                        <div class="cloud cloud-3" data-speed="3"><img src="assets/front/img/homepage/cloud-3.png" alt=""></div>
                        <div class="plane"><img src="assets/front/img/homepage/plane.png" alt="" /> </div>
                        <div class="cloud cloud-4" data-speed="4"><img src="assets/front/img/homepage/cloud-4.png" alt=""></div>
                        <div class="cloud cloud-5" data-speed="5"><img src="assets/front/img/homepage/cloud-5.png" alt=""></div>
                        <div class="cloud cloud-6" data-speed="6"><img src="assets/front/img/homepage/cloud-6.png" alt=""></div>
                        <div class="cloud cloud-7" data-speed="7"><img src="assets/front/img/homepage/cloud-7.png" alt=""></div>
                        <div class="cloud cloud-8" data-speed="8"><img src="assets/front/img/homepage/cloud-8.png" alt=""></div>
                        <div class="cloud cloud-9" data-speed="9"><img src="assets/front/img/homepage/cloud-9.png" alt=""></div>
                        <div class="cloud cloud-10" data-speed="10"><img src="assets/front/img/homepage/cloud-10.png" alt=""></div>
                        <div class="cloud cloud-11" data-speed="11"><img src="assets/front/img/homepage/cloud-11.png" alt=""></div>
                        <div class="cloud cloud-12" data-speed="12"><img src="assets/front/img/homepage/cloud-12.png" alt=""></div>
                    </div>
                    <div class="city_window">
                        <div class="building text-center"><img src="assets/front/img/homepage/mumbai.png" alt="" class="width-70"></div>
                        <div class="roadbase">
                            <div class="scooterboy"><img src="assets/front/img/homepage/scooter-boy.png" alt="" /> </div>
                            <div class="yellowcar"><img src="assets/front/img/homepage/yellow-car.png" alt="" /> </div>
                            <div class="ambulance"><img src="assets/front/img/homepage/ambulance.png" alt="" /> </div>
                            <div class="moverstempo"><img src="assets/front/img/homepage/movers-tempo.png" alt="" /> </div>
                            <div class="bikeboy"><img src="assets/front/img/homepage/bike-boy.png" alt="" /> </div>
                            <!-- <div class="redcar"><img src="assets/front/img/homepage/red-car.png" alt="" /> </div> -->
                            <div class="scootergirl"><img src="assets/front/img/homepage/scooter-girl.png" alt="" /> </div>
                            <div class="roadlamp"></div>
                        </div>
                    </div>
                </div>
                <div class="homeanimation-overlay"></div>
                <div class="quotebox">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-text">
                                    <h2> Welcome to <em>Global-India Insurance Broker's Pvt. Ltd.</em></h2>
                                    <h2><span class="d-lg-inline d-block">Get Quick,</span> Hassle Free Insurance Quote <em>Now!</em></h2>
                                    <h4>Expertise You Need. <span>Service You Deserve.</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="aboutus" class="bg-white">
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <div class="col-md-7 heading-block text-center">
                            <h2>WELCOME TO MYPOLICYNOW</h2>
                            <img src="assets/front/img/landingpage/POSP-banner.png" alt="" class="w-100">
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <img src="assets/front/img/landingpage/whoweare.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <h3>WHO WE ARE.</h3>
                            <p>Welcome to MYPOLICYNOW.com - A leading insurance broker, which provides online integrated insurance solutions to the clients.</p>
                            <p>Insurance is one of the most promising and growing financial sector in today’s era as it comprises of several performers operating in several spaces. And, MYPOLICYNOW is one of the well-known and recognised name in this industry!</p>
                            <p>MYPOLICYNOW excels in providing its adept services in all segments of the insurance industry as it focuses on revolutionising the insurance business by influencing both the service providers and consumers through new technologies
                                which we have developed through several end-to-end online platforms distinctively designed for insurance affairs.</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 order-lg-2">
                            <img src="assets/front/img/landingpage/technology.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <h3>TECHNOLOGY</h3>
                            <p>Using Technology, GIIB Aims At Revolutionizing The Insurance Industry By Empowering Consumer And Service Provider. We Have Created Indigenous Technology Platform.</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <img src="assets/front/img/landingpage/simple-solution.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <h3>SIMPLE SOLUTION</h3>
                            <p>Ours Is A Multi-Lingual Platform And Designed To Cater End To End Requirement Of Our Service Providers And Customers.</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 order-lg-2">
                            <img src="assets/front/img/landingpage/robust-system.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <h3>ROBUST SYSTEM</h3>
                            <p>Has Created An Eco System Around Motor Which Goes Beyond Conventional Motor Insurance.</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <img src="assets/front/img/landingpage/scalability.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <h3>SCALABILITY</h3>
                            <p>We Constantly Upgrade Our System To Cope Up With The New Challenges . Modular Approach To Reach The Rural Area Where Growth Is Expected.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-7 heading-block text-center">
                          <h3>Why mypolicynow.com</h3>
                          <p>As your insurance brokers, we strive to offer you the best insurance experience. We try to bring to you the cheapest insurance plans, suitable for your needs. You can compare and choose plans of leading insurance companies.</p>
                      </div>
                  </div>
                  <div class="row justify-content-between align-items-center">
                      <div class="col-lg-4 col-sm-6">
                          <div class="feature-box fbox-right">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/seo.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>SEO optimization</h3>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                              </div>
                          </div>
                          <div class="feature-box fbox-right mt-5">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/adword.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>Adwords Campaign</h3>
                                  <p>dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                              </div>
                          </div>
                          <div class="feature-box fbox-right mt-5">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/analysis.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>Digital Analysis</h3>
                                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-7 offset-3 offset-sm-0 d-sm-none d-lg-block text-right my-3">
                          <img src="assets/front/img/homepage/mobile-img.png" alt="iphone" class="rounded w-100">
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="feature-box">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/social.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>Social Media Marketing</h3>
                                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
                              </div>
                          </div>
                          <div class="feature-box mt-5">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/experience.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>Customer Experience</h3>
                                  <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                              </div>
                          </div>
                          <div class="feature-box mt-5">
                              <div class="fbox-icon">
                                  <img src="assets/front/img/homepage/content_marketing.svg" alt="Feature Icon">
                              </div>
                              <div class="fbox-text">
                                  <h3>Content Marketing</h3>
                                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
            </section>

            <section id="partners">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="heading-block text-center">
                                <h3>Our Channel Partners</h3>
                            </div>
                        </div>
                        <div class="col-md-12 py-3">
                            <img src="assets/front/img/partners-logos/partners-logos.svg" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section id="faqs" class="bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-7 heading-block text-center">
                            <h3>FAQ's</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-9 col-lg-10 col-md-12">
                            <div id="accordion" class="faq-accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      What is NCB?
                                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>NCB stand for no claims Bonus. it is a discount on premium that is based on vehicles has not made a single claims throughout the motor insurance policy terms.</p>
                                            <p>NCB % (No Claim Bonus) : NO NCB only for</p>
                                            <ul class="ul-list">
                                                <li>CASE 1 : For New Vehicle</li>
                                                <li>CASE 2 : Expiry date > Equal to or more than 90 Days</li>
                                                <li>CASE 3 : Previous Policy set to > No</li>
                                                <li>CASE 4 : Policy Expired & claimed.</li>
                                            </ul>
                                            <p>NCB % (No Claim Bonus) : NCB only for</p>
                                            <ul class="ul-list">
                                                <li>CASE 1 : Expiry date > Less than 90 Days</li>
                                                <li>CASE 2 : Previous Policy set to > Yes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      What is Accessories?
                                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>It include the Electrical and electronic Value of Vehicles. These items are not sold by the vehicle manufacturer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0);" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      What is endorsement?
                                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>It is a written evidence of an agreed change in policy. It is the document that incorporates change in the terms of policy. It can be two types-</p>
                                            <ul class="ul-list">
                                                <li>Premium Bearing</li>
                                                <li>Non Premium Bearing</li>
                                            </ul>
                                            <p>Any changes in the policy details like Cancellation of cover are done through a document called endorsement.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-4">
                                <a href="javascript:void(0);" class="btn btn-secondary btn-lg">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="testimonials">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-7 heading-block text-center">
                          <h3>What Clients Says</h3>
                      </div>
                  </div>
                  <div class="row my-4">
                      <div class="col-md-12">
                          <div id="testimonials-slider" class="owl-carousel testimonials-carousel">
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-01.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Deepak Shinde<span>Web Designer</span></div>
                                  </div>
                              </div>
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-02.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Sushant Rokade<span>Web Designer</span></div>
                                  </div>
                              </div>
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-03.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Bobbish Balan<span>Web Designer</span></div>
                                  </div>
                              </div>
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-01.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Deepak Shinde<span>Web Designer</span></div>
                                  </div>
                              </div>
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-02.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Sushant Rokade<span>Web Designer</span></div>
                                  </div>
                              </div>
                              <div class="testimonial">
                                  <div class="testi-image">
                                      <img src="assets/front/img/testimonials/avatar-03.jpg" alt="Customer Testimonails">
                                  </div>
                                  <div class="testi-content">
                                      <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias. Natus voluptatum enim quod necessitatibus quis expedita harum provident</p>
                                      <div class="testi-meta">Bobbish Balan<span>Web Designer</span></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section> -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Wrapper -->
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-widgets-wrap row pb-4 mx-0">
            <div class="col-lg-10 col-md-12 border-bottom mb-4 py-3  text-lg-left text-center">
                <div class="row align-items-center justify-content-around">
                    <div class="col-auto md-footerblock">
                        <img src="assets/front/img/mpn-logo.png" alt="" style="height: 40px;">
                    </div>
                    <div class="col-auto md-footerblock">
                        <span>Licence No.:</span>
                        <h5>538</h5>
                    </div>
                    <div class="col-auto md-footerblock ">
                        <span>IRDA Direct Broker Code:</span>
                        <h5>IRDA/ DB 596/14</h5>
                    </div>
                    <div class="col-auto md-footerblock">
                        <span>Valid Till:</span>
                        <h5>04/10/2024</h5>
                    </div>
                    <div class="col-auto md-footerblock">
                        <span>CIN:</span>
                        <h5>U66000MH2014PTC318309</h5>
                    </div>
                    <div class="col-auto md-footerblock">
                        <span>GST No.:</span>
                        <h5>27AAFCG7680Q1ZQ</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 border-bottom mb-4 py-3 text-lg-left text-center">
                <div class="row">
                    <div class="col-auto md-footerblock">
                        <span>Payment Methods:</span>
                        <img src="assets/front/img/homepage/payment-methods-icons.png" alt="" class="paymentmod-icons">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="widget row align-items-center text-md-left text-center">
                    <div class="col-lg-4 col-md-6">
                        <img class="footer-logo mb-1" src="assets/img/logo.png" alt="">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <p><span class="d-sm-block d-md-inline">1018, 10th Floor, Summit-Business Bay, Behind Gurunanak Petrol Pump,</span> <span class="d-sm-block d-md-inline">Off Andheri Kurla Road, Beside Magic Bricks WEH metro stn.,</span> <span class="d-sm-block d-md-inline">Andheri (E), Mumbai-400093, </span>                            <span class="d-sm-block d-md-inline">Maharashtra (India).</span></p>
                    </div>

                    <div class="col-md-12 pl-0">
                        <div class="border-bottom my-4"></div>
                    </div>
                </div>
                <div class="row widget_links">
                    <div class="col-md-12">
                        <h5 class="mb-2 text-center text-md-left">PRODUCTS</h5>
                    </div>
                    <div class="col-md-12 text-center text-md-left">
                        <ul class="row mx-0">
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Car Insurance</a></li>
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Bike Insurance</a></li>
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Commercial Insurance</a></li>
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Travel Insurance</a></li>
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Life Insurance</a></li>
                            <li class="col-lg-4 col-md-6 col-sm-12"><a href="#">Health Insurance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 socialLinkswrap">
                <div class="row widget">
                    <div class="col-12">
                        <div class="feature-box">
                            <div class="fbox-icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="fbox-text">
                                <span>Call Us:</span>
                                <h4>+91 22 26820489</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="feature-box">
                            <div class="fbox-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="fbox-text">
                                <span>Email Us:</span>
                                <h4>info@mypolicynow.com</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4 socialLinksbox">
                        <span>Follow, Like and Subscribe us!</span>
                        <ul class="socialLinks">
                            <li><a class="icon-facebook" href="#" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                            <li><a class="icon-twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="icon-linkedin" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="icon-youtube" href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a class="icon-instagram" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 text-lg-left text-center">
                    <p>Copyrights © 2020. All Rights Reserved. <span>Powered by <a href="http://indicosmic.com" target="_blank" title="Indicosmic Capital Private Limited"> ICPL</a></span></p>
                    <div class="copyright-links">
                        <a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a> / <a href="#">Disclaimer</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 text-lg-right text-center">
                    <div class="copyright-links copyrights-menu">
                        <a href="#">About</a> / <a href="#">FAQ's</a> / <a href="#">Contacts</a> / <a href="#">Blogs</a> / <a href="#">Claims</a> / <a href="#">Complaints</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>