<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script>
    $('.center').slick({
        centerMode: true,
        centerPadding: '60px',
        slidesToShow: 3,
        responsive: [{
            breakpoint: 768,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 3
            }
        }, {
            breakpoint: 480,
            settings: {
                arrows: false,
                centerMode: true,
                centerPadding: '40px',
                slidesToShow: 1
            }
        }]
    });
</script>

<nav class="grayBG">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href=""> <img src="assets/front/landing_page/images/mpn-logo.png"></a>
            </div>

            <div class="col-sm-6 text-right">
                <a href="" class="btn round-btn lightBluebtn"> Agent Login</a>
            </div>
        </div>
    </div>
</nav>

<main role="main">
    <section class="sliderSec grayBG">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row flex_row">
                            <div class="col-sm-6">
                                <div class="banner_content secHead">
                                    <h1>Insurance <span>Made easy and simple</span></h1>
                                    <p>Buying and selling insurance has never been this simple! Our state-of-the-art technology solutions, infused with AI, make your experience integrated and user-friendly</p>
                                    <h5>Chat with us</h5>
                                    <a href="" class="btn  round-btn greenbtn">Agent</a>
                                    <a href="" class="btn round-btn orangebtn">Buyer</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/front/landing_page/images/header-img.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row flex_row">
                            <div class="col-sm-6">
                                <div class="banner_content secHead">
                                    <h1>Insurance <span>Made easy and simple</span></h1>
                                    <p>Buying and selling insurance has never been this simple! Our state-of-the-art technology solutions, infused with AI, make your experience integrated and user-friendly</p>
                                    <h5>Chat with us</h5>
                                    <a href="" class="btn  round-btn greenbtn">Agent</a>
                                    <a href="" class="btn round-btn orangebtn">Buyer</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/front/landing_page/images/header-img.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row flex_row">
                            <div class="col-sm-6">
                                <div class="banner_content secHead">
                                    <h1>Insurance <span>Made easy and simple</span></h1>
                                    <p>Buying and selling insurance has never been this simple! Our state-of-the-art technology solutions, infused with AI, make your experience integrated and user-friendly</p>
                                    <h5>Chat with us</h5>
                                    <a href="" class="btn  round-btn greenbtn">Agent</a>
                                    <a href="" class="btn round-btn orangebtn">Buyer</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="assets/front/landing_page/images/header-img.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="vidSec">
        <div class="digitDot">
            <img src="assets/front/landing_page/images/digitalDots.png">
        </div>
        <div class="container">
            <div class="row flex_row">
                <div class="col-sm-6 secHead">
                    <h2>A sneak peek into our effortless <span>insurance process!</span> </h2>
                    <p>As they say, let bygones be bygones. Seriously! Forget the days of intimidating jargons, complicated definitions and never-ending documentation. The future of insurance is here, and it’s simple.</p>
                </div>
                <div class="col-sm-6">
                    <div class="video">
                        <a href=""> <img src="assets/front/landing_page/images/playICO.png"> </a>
                        <img src="assets/front/landing_page/images/videoImg.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="simplify_Insurance">
        <div class="digitDot">
            <img src="assets/front/landing_page/images/digitalDots.png">
        </div>
        <div class="container">
            <div class="row flex_row">
                <div class="col-sm-4 secHead">
                    <h2>How we Simplify <span>Insurance?</span> </h2>
                    <p>The world of insurance comes with Jargons and complex definitions - making it confusing, complex, and intimidating for both the buyers and sellers. We aim to change this and simplify insurance for both the buyers and sellers by:</p>
                </div>
                <div class="col-sm-6">
                    <div class="timeLine">



                        <ul>
                            <li *ngFor="let row of simplify_insurance">
                                <div class="icons"> <img src="assets/front/landing_page/images/{{ row.icon }}"> </div>
                                <div class="txt">
                                    <h6>{{ row.head }}</h6>
                                    <p>{{ row.desc }}</p>
                                </div>
                            </li>

                           </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advisorOffer">

        <div class="container">
            <div class="row ">
                <div class="col-sm-10 secHead">
                    <h2>What does our <span>Advisor offer?</span> </h2>
                    <p>Insurance is serious business. It is, after all, an investment in prospects that affect life decisions. Every consumer who purchases a policy with half-baked information makes our belief in the remedy of simplicity only stronger. Facilitated
                        by a digital model, supervised by a Point of Sale Person (POSP), makes your experience effortless, efficient and effective.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="offer">
                        <img src="assets/front/landing_page/images/ao1.svg">
                        <h5>Instant Policy</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="offer">
                        <img src="assets/front/landing_page/images/ao2.svg">
                        <h5>Full Claim Support</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="offer">
                        <img src="assets/front/landing_page/images/ao3.svg">
                        <h5>Free Customized Advice</h5>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="offer">
                        <img src="assets/front/landing_page/images/ao4.svg">
                        <h5>Compare Premium Across 10+ Companies</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="grayBG insureMarketPlace">
        <div class="container">

            <div class="row ">
                <div class="col-sm-12 secHead">
                    <h2>Fastest Growing <span>Online Insurance Marketplace: </span> </h2>

                </div>
            </div>
            <div class="row ismp">
                <div class="col-sm-3 ">
                    <div class="numbersCount">
                        <h4> 7 Lakh+</h4>
                        <p> Trusting Customers,</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="numbersCount">
                        <h4> 5000+</h4>
                        <p> Strong POSP Advisor Network</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="numbersCount">
                        <h4> 10</h4>
                        <p> Insurance Partners,</p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="numbersCount">
                        <p>Spread Across</p>
                        <h4> 500+</h4>
                        <p> Cities in India</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <div class="row">
                <div class="col-sm-11 offset-sm-1 secHead">
                    <h2>Products: </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <ul>
                        <li class="product" *ngFor="let row of product_lists"> 
                            <img src="assets/front/landing_page/images/{{row.icon}}">
                            <p>{{row.product_name}}</p>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="partners grayBG">
        <div class="container">
            <div class="row">
                <div class="col-sm-11 offset-sm-1 secHead">
                    <h2>Our <span>Partners: </span> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 offset-sm-1">
                    <ul>
                        <li class="partner"> <img src="assets/front/landing_page/images/p1.png"> </li>
                        <li class="partner"> <img src="assets/front/landing_page/images/p2.png"> </li>
                        <li class="partner"> <img src="assets/front/landing_page/images/p3.png"> </li>
                        <li class="partner"> <img src="assets/front/landing_page/images/p4.png"> </li>
                        <li class="partner"> <img src="assets/front/landing_page/images/p5.png"> </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

<!--     <section class="client_testi">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 secHead">
                    <h2>What <span>Our Client Says </span> </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">


                </div>
            </div>


            <div class="center">
                <div class="clientSpeak">
                    <h3>1</h3>
                </div>
                <div class="clientSpeak">
                    <h3>2</h3>
                </div>
                <div class="clientSpeak">
                    <h3>3</h3>
                </div>
                <div class="clientSpeak">
                    <h3>4</h3>
                </div>
                <div class="clientSpeak">
                    <h3>5</h3>
                </div>
                <div class="clientSpeak">
                    <h3>6</h3>
                </div>
            </div>

            <div class="center">
                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">
                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>


                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">

                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>
                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">
                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>
                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">
                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>
                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">
                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>
                <div>
                    <div class="clientSpeak">
                        <img src="assets/front/landing_page/images/testi1.png">
                        <h6> Mr. Puran Singh Rajawat </h6>
                        <p>My Policy Now gave a new direction to my career as an Insurance advisor. With MPN, I got an option to sell the insurance policies of multiple companies associated with My Policy Now & it gave me a platform to earn more money</p>
                        <p class="speaker">Insurance Head <span>K S Motor Jaipur </span></p>
                    </div>
                </div>
            </div>

        </div>

    </section> -->

    <section class="becomeAgent">
        <div class="container">
            <div class="row flex_row">
                <div class="col-sm-4">
                    <img src="assets/front/landing_page/images/licAgent.png" class="img-fluid">
                </div>
                <div class="col-sm-5 becomeAgent_txt">
                    <h2>Become a <span>Certified POSP</span></h2>
                    <h5>Our onboarding POS agents <span> 5,000+</span> and counting</h5>
                    <a href="" class="btn round-btn whitebtn">Register</a>
                </div>
            </div>
        </div>
    </section>

    <section class="become_posp">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 secHead">
                    <h2>Why Become a <span>mypolicynow POSP Advisor </span> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p>We make lives better by streamlining the insurance broking ecosystem. We take pride in our multiple cross sell platform, and by becoming a myPolicynow Advisor, you can too! </p>
                    <ul>
                    
                    <li>Zero investment business opportunity</li>

                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section class="joinNetwork">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h4>Join our exclusive network of expert POSP Advisors spread across 500+ cities across India</h4>
                    <a href="" class="round-btn btn orangebtn">Register</a>
                </div>

            </div>
        </div>
    </section>



</main>
<!-- /.container -->

<footer class="footer_landing_page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/front/landing_page/images/mpn-logo-footer.png">
                <p class="phone mt-5"><i class="bi bi-telephone-fill"></i> &nbsp;+91-30303011</p>
                <p class="mt-3 mb-5"> Private Policy / Terms & Condition. © 2019</p>
                <ul class="social">
                    <li>
                        <a href=""> <img src="assets/front/landing_page/images/twitter.svg"> </a>
                    </li>
                    <li>
                        <a href=""> <img src="assets/front/landing_page/images/pinterest.svg"> </a>
                    </li>
                    <li>
                        <a href=""> <img src="assets/front/landing_page/images/facebook.svg"> </a>
                    </li>
                    <li>
                        <a href=""> <img src="assets/front/landing_page/images/instagram.svg"> </a>
                    </li>
                </ul>

            </div>
            <div class="col-sm-2 links">
                <h3>Links</h3>
                <ul>

                    <li> <a href=""> HOME</a></li>
                    <li> <a href=""> About</a></li>
                    <li> <a href="">WHY US </a></li>
                    <li> <a href="">Contact </a></li>
                    <li> <a href="">Problems </a></li>
                </ul>
            </div>
            <div class="col-sm-3 contactDetails">
                <h3>Contact details</h3>
                <p>E: info@example.com </p>
                <p>P: +55 104 888 9012</p>
                <p>1018, 5th Floor, Summit-Business Bay, Behind Gurunanak Petrol Pump, Off Andheri Kurla Road, Beside Magic Bricks WEH metro stn., Andheri (E), Mumbai-400093, Maharashtra (India) .
                </p>
            </div>
            <div class="col-sm-3 subscribe">
                <p>get all the updates of the <br> lifeguard to your inbox</p>
                <div class="sbscrbForm">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <button class="btn"> Submit </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="copyRight">
        <div class="container">
            <p> ©2021kesowa. All rights reserved.</p>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('.center').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            centerMode: true,
            centerPadding: '250px',
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        centerPadding: '20px',
                        dots: true
                    }
                }, {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        centerPadding: '20px'
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        centerPadding: '0'
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>
