
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-12">
                <h3 class="page-title">Welcome</h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div class="card shadowbox">
                <div class="card-body pb-0">
                    <form class="form-horizontal" [formGroup]="dashboardform">
                        <div class="row">
                             <div class="col-lg-2 col-md-3">
                                <div class="form-group">
                                    <label>Policy From :</label>
                                    <div class="cal-icon">
                                        <input class="form-control" type="date" id="from_date" [(ngModel)]="date_picker_policy_from"  formControlName="policy_from"placeholder="yyyy-mm-dd"   >
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group">
                                    <label>Policy To :</label>
                                    <div class="cal-icon">
                                       <input class="form-control" type="date" id="to_date"  formControlName="policy_to" [(ngModel)]="date_picker_policy_to"placeholder="yyyy-mm-dd" autocomplete="off" >
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="d-block">&nbsp;</label>
                                <button type="submit"  (click)="applyDateFilter()" class="btn btn-custom green w-43" title="Search"><i class="fa fa-search"></i></button> &nbsp;
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span *ngIf="this.results.status == 'Fail'">No data Found</span>
            <div class="card shadowbox">
                <div class="card-body">
                    <div style="display: block; width: 1000px;height: 630px;">
                      <canvas baseChart width="1000" height="600"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                      </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

