<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">
            Sub {{ dp_name }}
            </h3>
        </div>
        <button href="javascript:;" (click)="redirectBackPos()" class="btn btn-custom green"><i class="fa fa-undo"></i> Back</button>
        <div class="col-auto float-right ml-auto" *ngIf="access_permission == 'read_write'">
            <button (click)="openModel()" data-toggle="modal" data-target="#openmodal" class="btn btn-custom green"><i class="fa fa-plus"></i> Add Sub {{ dp_name }}</button>
        </div>

    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-md-12">
        <div class="card shadowbox">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered custom-table srn action-table datatable w-100"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="openmodal" class="modal custom-modal fade" tabindex="-1" role="dialog" aria-hidden="true"
data-backdrop="static"  data-keyboard="false"  [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="formRecodEdit" method="post" (ngSubmit)="submitForm()">
                <input formControlName="id" type="hidden" class="form-control">
                <div class="modal-header">
                    <h5 class="modal-title">{{ popupTitle }}</h5>
                    <button (click)="closePopup()" type="button" class="close" data-dismiss="modal" #closeAddExpenseModal>&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Parent {{ dp_name }} User:<span class="error">*</span></label>
                                <select class="form-control" formControlName="parent_pos_user">
                                <option value="">Select Parent {{ dp_name }} User</option>
                                <option value="{{ row.pos_id }}" *ngFor="let row of posuserlist">{{ row.app_fullname }}</option>
                                </select>
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.parent_pos_user.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.parent_pos_user.errors.required">
                                        Parent Pos User is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>First Name:<span class="error">*</span></label>
                                <input formControlName="first_name" type="text" class="form-control" minlength="2" maxlength="25">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.first_name.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.first_name.errors.required">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.first_name.errors.pattern">
                                        Only Alphabets accepts.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.first_name.errors.minlength">
                                        Please enter at least 2 characters.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.first_name.errors.maxlength">
                                        Please enter no more than 25 characters..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Middle Name:</label>
                                <input formControlName="middle_name" type="text" class="form-control" minlength="1" maxlength="25">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.middle_name.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.middle_name.errors.required">
                                        Middle Name is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.middle_name.errors.pattern">
                                        Only Alphabets accepts.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.middle_name.errors.minlength">
                                        Please enter at least 1 characters.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.middle_name.errors.maxlength">
                                        Please enter no more than 25 characters..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Last Name:<span class="error">*</span></label>
                                <input formControlName="last_name" type="text" class="form-control" minlength="2" maxlength="25">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.last_name.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.last_name.errors.required">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.last_name.errors.pattern">
                                        Only Alphabets accepts.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.last_name.errors.minlength">
                                        Please enter at least 2 characters.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.last_name.errors.maxlength">
                                        Please enter no more than 25 characters..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Email:<span class="error">*</span></label>
                                <input formControlName="email" type="text" class="form-control" minlength="3" maxlength="50">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.email.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.email.errors.required">
                                        Email is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.email.errors.pattern">
                                        Only Alphabets accepts.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.email.errors.minlength">
                                        Please enter at least 3 characters.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.email.errors.maxlength">
                                        Please enter no more than 50 characters..
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Mobile No:<span class="error">*</span></label>
                                <input formControlName="mobileNo" type="text" class="form-control" maxlength="10">
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.mobileNo.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.mobileNo.errors.required">
                                        Mobile No is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.mobileNo.errors.minlength">
                                        Please enter at least 10 digit.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.mobileNo.errors.maxlength">
                                        Please enter no more than 10 digit.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.mobileNo.errors.pattern">
                                        Only number accepts.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12" *ngIf="inNewEntery">
                            <div class="form-group">
                                <label><span class="error">*</span>Password:</label>
                                <input formControlName="password" type="password" class="form-control" minlength="2" maxlength="30">
                                <label><span class="text-info" *ngIf="PasswordInfo"> If You want to change password, Then Use</span></label>
                                <div class="error" *ngIf="submitted && formRecodEdit.controls.password.errors">
                                    <div *ngIf="submitted && formRecodEdit.controls.password.errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="submitted && formRecodEdit.controls.password.errors.pattern">
                                       Password should be minimum 8 and maximum 14 characters Long, Lowercase letters, Uppercase letters, Numbers, Special characters e.g Demo$1234
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <input *ngIf="btnEditSubmit" class="btn btn-custom green btn-lg" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div *ngIf="popupTitle" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ popupTitle }}</h4>
                <button (click)="closePopup()" type="button" class="close" >&times;</button>
            </div>
            <div *ngIf="editResult" class="modal-body row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name: </label>&nbsp; <span>{{ editResult.full_name}}</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Eamil: </label>&nbsp; <span>{{ editResult.email}}</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mobile: </label>&nbsp; <span>{{ editResult.mobile_no}}</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Address: </label>&nbsp; <span>{{ editResult.address1}} {{ editResult.address2}} {{ editResult.address3}} {{ editResult.pincode}}</span>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City: </label>&nbsp; <span>{{ editResult.city_name | uppercase}}</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Aadhar Number: </label>&nbsp; <span>{{ editResult.aadhar_no}}</span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>PAN Number: </label>&nbsp; <span>{{ editResult.  pan_no}}</span>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button (click)="closePopup()" type="button" class="btn btn-default">
                      Close
                    </button>

                <input *ngIf="btnEditSubmit" class="btn btn-primary" type="submit" value="Save">
            </div>
        </div>

    </div>
</div>
<app-loader [loaderActive]="loaderActive"></app-loader>