<div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Reset Password</p>
  
      <form [formGroup] ="submitForm" (ngSubmit)="getFormData()" >
      
         
        <div class="input-group mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="New Password">        
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>        
        </div>
  
        <div class="input-group mb-3">
          <div *ngIf="submitted && submitForm.controls.password.errors" class="error">
            <div *ngIf="submitForm.controls.password.errors.required" class="font-11">New Password is required</div>
          </div>
        </div>


        <div class="input-group mb-3">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm  Password">        
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>        
          </div>
    
          <div class="input-group mb-3">
            <div *ngIf="submitted && submitForm.controls.confirmPassword.errors" class="error">
              <div *ngIf="submitForm.controls.confirmPassword.errors.required" class="font-11">Confirm Password is required</div>
            </div>
          </div>
  
  
        <div class="input-group mb-3">
          <input type="submit" class="form-control btn btn-primary" value="Change Password">
          
        </div>
        
      </form>
  
   
      <p class="mb-1">
        <a [routerLink]="['/admin']" href="javascript:void(0)">Login</a>
      </p>
      <!-- <p class="mb-0">
        <a [routerLink]="['/admin/forgot-password']" href="javascript:void(0)" class="text-center">Register a new membership</a>
      </p> -->
    </div>
    <!-- /.login-card-body -->
  </div>
  