<!-- Page Wrapper -->
        <div class="page-wrapper">
            <!-- Page Content -->
            <div class="content container-fluid">
                <div class="row align-items-center latest-update ">
                    <div class="col-auto float-left mr-auto labeltext">Latest Update</div>
                    <div class="col updatetext">
                        <marquee class="display-block" scrolldelay="120" onmouseover="this.stop();" onmouseout="this.start();">
                            <span><a href="#">Issuance of Digital Surveyor and Loss Assessor Licenses.</a></span>
                            <span><a href="#">Issuance of Digital Surveyor and Loss Assessor Licenses.</a></span>
                            <span><a href="#">Issuance of Digital Surveyor and Loss Assessor Licenses.</a></span>
                        </marquee>
                    </div>
                </div>
              <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Change Password</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="myaccount/index.php">Dashboard</a></li>
                                <li class="breadcrumb-item active">Change Password</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card shadowbox">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="instructions text-danger">
                                            <div>
                                                <h4><strong>Instructions:</strong></h4>
                                                <p></p>
                                            </div>

                                            <ul style="list-style-type: square;font-size: 18px;margin-left: 30px;">
                                                <li>Password should be of minimum {{ minPassLen }} characters</li><br>
                                                <li>Password should be of maximum {{ maxPassLen }} characters</li><br>
                                                <li>Password must have atleast one lower case character</li><br>
                                                <li>Password must have atleast one upper case character</li><br>
                                                <li>Password must have atleast one digit</li><br>
                                                <li>Password must have atleast one special characters.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="loginform">
                                            <div>
                                                <h4>You can change your password here.</h4>
                                                <p></p>
                                            </div>
                                            <form class="ui form" [formGroup]="submitForm" (ngSubmit)="submitFormDetails()">

                                                <div class="field" [ngClass]="{'error': submitted && submitForm.controls.OldPassword.errors}">
                                                    <div class="ui left icon input">
                                                        <input formControlName="OldPassword" class="form-control" type="password"  placeholder="Old Password"  autocomplete="off">
                                                        <i class="icon lock"></i>
                                                    </div>
                                                    <div *ngIf="submitted && submitForm.controls.OldPassword.errors">
                                                        <small *ngIf="submitted && submitForm.controls.OldPassword.errors.required" class="text-danger"> 
                                                            Please enter old password.
                                                        </small> 
                                                    </div>
                                                </div>


                                                <div class="field" [ngClass]="{'error': submitted && submitForm.controls.password.errors}">
                                                    <div class="ui left icon input">
                                                        <input formControlName="password" class="form-control" type="password"  placeholder="New Password"  autocomplete="off" maxlength="{{maxPassLen}}">
                                                        <i class="icon lock"></i>
                                                    </div>
                                                    <div *ngIf="submitted && submitForm.controls.password.errors">
                                                        <small *ngIf="submitted && submitForm.controls.password.errors.required" class="text-danger"> 
                                                            Please enter new password.
                                                        </small>
                                                        <small *ngIf="submitted && submitForm.controls.password.errors.pattern" class="text-danger"> 
                                                            Please enter valid password.
                                                        </small>
                                                    </div>
                                                </div>


                                                <div class="field" [ngClass]="{'error': submitted && submitForm.controls.confirmPassword.errors}">
                                                    <div class="ui left icon input">
                                                        <input formControlName="confirmPassword" class="form-control" type="password"  placeholder="Confirm Password" autocomplete="off" maxlength="{{maxPassLen}}">
                                                        <i class="icon lock"></i>
                                                    </div>
                                                    <div *ngIf="submitted && submitForm.controls.confirmPassword.errors">
                                                        <small *ngIf="submitted && submitForm.controls.confirmPassword.errors.required" class="text-danger"> 
                                                            Please enter confirm password.
                                                        </small> 
                                                    </div>

                                                    <div>
                                                        <small class="text-danger" [ngStyle]="{'display':display}">
                                                            <strong>{{responseMsg}}</strong>
                                                        </small>
                                                    </div>
                                                </div>

                                                <div class="alert {{msgClass}}" [ngStyle]="{'display':display}">
                                                    <strong>{{responseMsgError}}</strong>
                                                </div>

                                                <button class="btn btn-block btn-lg green" type="submit">Change Password</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                

                                <app-loader  [loaderActive]="loaderActive"></app-loader>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Wrapper -->