<div class="loginform">
  <div>
    <h4>Forgot Password?</h4>
    <p>You forgot your password? <br>Here you can easily retrieve a new password.</p>
  </div>

  <form class="ui form" [formGroup] ="submitForm" (ngSubmit)="getFormData()" >

    <div class="field">
      <div class="ui left icon input">
        <input type="email" class="form-control" placeholder="Email" autocomplete="off">
        <i class="icon envelope"></i>
      </div>
      <div *ngIf="submitted && submitForm.controls.email.errors">
        <small *ngIf="submitForm.controls.email.errors.required" class="text-danger">Email is required</small> 
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-lg">Request New Password</button>

    <div class="row my-4 align-items-center">
          <div class="col-12 text-sm-right my-2">
              Remember your password? <a href="javascript:void(0);" [routerLink]="['/admin']"> Login </a>
          </div>
      </div>
  </form>
   
</div>