<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content">
		<section class="py-0">
			<div class="row">
				<div class="col-md-12 border proposal-infobar shadowbox py-2">
					<div class="container">
						<div class="row py-2">
							<div class="col-xl-4 col-lg-3 col-sm-6 col-12 proposal-box">
								<div>
									<span class="text-muted white">Your Car:</span>
									<h3 class="mb-0">MH01SS5656,</h3>
									<h4 class="mb-0">Tata Indica, 2000 (1193 CC), Petrol</h4>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-sm-6 col-12  proposal-box">
								<div>
									<span class="text-muted white">Selected Insurer:</span>
									<div class="row selectedinsurer align-items-center">
										<div class="col-xl-2 col-lg-3 col-sm-3 col-3">
											<img src="assets/front/img/partners-logos/shriram.jpg" alt="">
										</div>
										<div class="col-xl-10 col-lg-9 col-sm-9 col-9 ">
											<h4 class="mb-0">Private Car Insurance Policy</h4>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-2 col-sm-6 col-12 proposal-box">
								<div>
									<span class="text-muted white">IDV & NCB:</span>
									<h4 class="mb-0"><span class="text-muted white">IDV: </span><i class="fa fa-inr"></i> 2,07,911</h4>
									<h4 class="mb-0"><span class="text-muted white">New NCB:</span> 45%</h4>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-sm-6 col-12 proposal-box">
								<div>
									<span class="text-muted white">Policy Period:</span>
									<h4 class="mb-0"><span class="text-muted white">Start Date:</span> 20-04-2020</h4>
									<h4 class="mb-0"><span class="text-muted white">End Date:</span> 19-04-2021</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row mx-0">
					<div class="col-lg-3 col-md-4 proposalform-sidebar radius-10">
						<div class="totalpremium-box">
							<ul>
								<li>Own Damage Premium: <span class="float-right"><i class="fa fa-inr"></i> 1,750</span></li>
								<li>Addon Premium: <span class="float-right"><i class="fa fa-inr"></i> 1,410</span></li>
								<li>Third Party Premium: <span class="float-right"><i class="fa fa-inr"></i> 1,000</span></li>
								<li>Discount: <span class="float-right"> - <i class="fa fa-inr"></i> 2,999</span></li>
								<li><h4>Premium <span class="float-right"><i class="fa fa-inr"></i> 13,665</span></h4></li>
								<li>GST @18% <span class="float-right"><i class="fa fa-inr"></i> 2,457</span></li>
								<li class="finalpremium radius-10"><h4>Final Premium <em class="d-lg-inline d-md-block d-inline">(Incl. GST)</em> <span><i class="fa fa-inr"></i> 16,122</span></h4></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-8 proposalform">
						<div class="proposalform-container">
							<div class="card cardshadow mb-0">
								<div class="card-body">
									<div class="row">
										<div class="col-12 py-2">
											<!-- <div id="ownerdetails" class="proposalform-stepbox">
												<h3 class="step-title"> Owner Details
												<div class="float-right">
													<div class="ui checkbox">
														<input type="checkbox" name="ownershipchanged" id="ownershipchanged">
														<label class="mb-0" for="ownershipchanged">Is vehicle ownership changed?</label>
													</div>
												</div>
												</h3>
												<div class="step-block">
													<div class="row align-items-center">
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">First Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Middle Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Last Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Mobile No.</label>
															</div>
														</div>
														<div class="col-lg-8 col-sm-8">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Email</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus">
																<div class="cal-icon">
																	<input type="text" class="form-control floating datetimepicker">
																</div>
																<label class="focus-label">Date Of Birth</label>
															</div>
														</div>
														<div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group ui form">
																<label class="label">Gender</label>
																<div class="inline fields mb-0">
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="gender" id="gender-male" value="gender-male">
																			<label class="mb-0" for="gender-male">Male</label>
																		</div>
																	</div>
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="gender" id="gender-female" value="gender-female">
																			<label class="mb-0" for="gender-female">Female</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group ui form">
																<label class="label">Marital Status</label>
																<div class="inline fields mb-0">
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="maritalstatus" id="maritalstatus-single" value="maritalstatus-single">
																			<label class="mb-0" for="maritalstatus-single">Single</label>
																		</div>
																	</div>
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="maritalstatus" id="maritalstatus-married" value="maritalstatus-married">
																			<label class="mb-0" for="maritalstatus-married">Married</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row align-items-center">
														<div class="col-md-12">
															<h5 class="my-2"><b>Address Details</b></h5>
														</div>
														<div class="col-lg-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Address 1 (H.no/building</label>
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Address 2(Area/Town/Locality)</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Pincode</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus focused">
																<input type="text" class="form-control floating" value="Mumbai" disabled>
																<label class="focus-label">City</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus focused">
																<input type="text" class="form-control floating" value="Maharashtra" disabled>
																<label class="focus-label">State</label>
															</div>
														</div>
													</div>
													<div class="row align-items-center">
														<div class="col-md-12">
															<h5 class="my-2"><b>KYC Details</b></h5>
														</div>
														<div class="col-lg-4 col-md-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Pan Number</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Aadhaar Number</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">GST Number</label>
															</div>
														</div>
													</div>
													<div class="row align-items-center">
														<div class="col-md-12">
															<h5 class="my-2"><b>Nominee Details</b></h5>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">First Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Middle Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Last Name</label>
															</div>
														</div>
														<div class="col-xl-2 col-lg-2 col-sm-3 col-6 ">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Age</label>
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Relation</label>
																<select class="ui search dropdown">
																	<option value="">Select Relation</option>
																	<option value="1">Spouse</option>
																	<option value="2">Son</option>
																	<option value="3">Daughter</option>
																	<option value="4">Mother</option>
																	<option value="5">Father</option>
																	<option value="6">Brother</option>
																	<option value="7">Sister</option>
																</select>
															</div>
														</div>
														<div class="col-md-12">
															<h5 class="mb-2"><b>Appointee Details</b></h5>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">First Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Middle Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Last Name</label>
															</div>
														</div>
														<div class="col-xl-2 col-lg-2 col-sm-3 col-6 ">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Age</label>
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Relation</label>
																<select class="ui search dropdown">
																	<option value="">Select Relation</option>
																	<option value="1">Spouse</option>
																	<option value="2">Son</option>
																	<option value="3">Daughter</option>
																	<option value="4">Mother</option>
																	<option value="5">Father</option>
																	<option value="6">Brother</option>
																	<option value="7">Sister</option>
																</select>
															</div>
														</div>
													</div>
													<div class="text-right mt-2 border-top pt-4">
														<button id="ownerdetails-next" type="button" class="btn btn-custom green next-step">Save and Continue</button>
													</div>
												</div>
											</div> -->
											<div id="companydetails" class="proposalform-stepbox">
												<h3 class="step-title"> Company Details
												<div class="float-right">
													<div class="ui checkbox">
														<input type="checkbox" name="ownershipchanged" id="ownershipchanged">
														<label class="mb-0" for="ownershipchanged">Is vehicle ownership changed?</label>
													</div>
												</div>
												</h3>
												<div class="step-block">
													<div class="row align-items-center">
														<div class="col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Company Name</label>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Company GST No.</label>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Company Pan No.</label>
															</div>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">First Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Middle Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Last Name</label>
															</div>
														</div>
														<div class="col-lg-4 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Mobile No.</label>
															</div>
														</div>
														<div class="col-lg-8 col-sm-8">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Email</label>
															</div>
														</div>
														
													</div>
													<div class="row align-items-center">
														<div class="col-md-12">
															<h5 class="my-2"><b>Address Details</b></h5>
														</div>
														<div class="col-lg-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Address 1 (H.no/building</label>
															</div>
														</div>
														<div class="col-lg-6 col-12">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Address 2(Area/Town/Locality)</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Pincode</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus focused">
																<input type="text" class="form-control floating" value="Mumbai" disabled>
																<label class="focus-label">City</label>
															</div>
														</div>
														<div class="col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus focused">
																<input type="text" class="form-control floating" value="Maharashtra" disabled>
																<label class="focus-label">State</label>
															</div>
														</div>
													</div>
													<div class="text-right mt-2 border-top pt-4">
														<button id="ownerdetails-next" type="button" class="btn btn-custom green next-step">Save and Continue</button>
													</div>
												</div>
											</div>
											<div id="vehicledetails" class="proposalform-stepbox">
												<h3 class="step-title">Vehicle Details</h3>
												<div class="step-block">
													<div class="row align-items-center">
														<div class="col-xl-6 col-lg-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Chassis number</label>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Engine number</label>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6">
															<div class="form-group form-focus">
																<input type="text" class="form-control floating">
																<label class="focus-label">Previous policy number</label>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Previous insurer</label>
																<select class="ui search dropdown">
																	<option value="">Select Previous insurer</option>
																	<option value="1">Digit General Insurance</option>
																	<option value="2">HDFC ERGO</option>
																	<option value="3">ICICI Lombard</option>
																	<option value="4">TATA</option>
																</select>
															</div>
														</div>
														<div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus">
																<div class="cal-icon">
																	<input type="text" class="form-control floating datetimepicker">
																</div>
																<label class="focus-label">Registration date</label>
															</div>
														</div>
														<div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Manufacturing month</label>
																<select class="ui search dropdown">
																	<option value='1'>Janaury</option>
																	<option value='2'>February</option>
																	<option value='3'>March</option>
																	<option value='4'>April</option>
																	<option value='5'>May</option>
																	<option value='6'>June</option>
																	<option value='7'>July</option>
																	<option value='8'>August</option>
																	<option value='9'>September</option>
																	<option value='10'>October</option>
																	<option value='11'>November</option>
																	<option value='12'>December</option>
																</select>
															</div>
														</div>
														<div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Manufacturing year</label>
																<select class="ui search dropdown">
																	<option value='1'>2020</option>
																	<option value='2'>2019</option>
																	<option value='3'>2018</option>
																	<option value='4'>2017</option>
																	<option value='5'>2016</option>
																	<option value='6'>2015</option>
																	<option value='7'>2014</option>
																	<option value='8'>2013</option>
																	<option value='9'>2012</option>
																	<option value='10'>2011</option>
																	<option value='11'>2010</option>
																</select>
															</div>
														</div>
														<div id="askforvehicleloan" class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
															<div class="form-group ui form">
																<label class="label">Is this vehicle on loan?</label>
																<div class="inline fields mb-0">
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="vehicleloan" id="vehicleloan-yes" value="vehicleloan-yes">
																			<label class="mb-0" for="vehicleloan-yes">Yes</label>
																		</div>
																	</div>
																	<div class="field">
																		<div class="ui radio checkbox">
																			<input type="radio" name="vehicleloan" id="vehicleloan-no" value="vehicleloan-no">
																			<label class="mb-0" for="vehicleloan-no">No</label>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div id="selectbankname" class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-12">
															<div class="form-group form-focus select-focus focused">
																<label class="focus-label">Bank</label>
																<select class="ui search dropdown">
																	<option value="">Select Bank</option>
																	<option value="1">Bank of Baroda</option>
																	<option value="2">Bank of India</option>
																	<option value="3">Bank of Maharashtra</option>
																	<option value="4">Canara Bank</option>
																	<option value="5">Central Bank of India </option>
																	<option value="6">Indian Bank</option>
																	<option value="7">Dena Bank</option>
																</select>
															</div>
														</div>
													</div>
													<div class="text-right mt-2 border-top pt-4">
														<a href="javascript:void(0);" id="vehicledetails-back" class="btn btn-outline-secondary btn-custom prev-step mr-2"><i class="fa fa-angle-left"></i> Previous</a>
														<button type="button" id="vehicledetails-next" class="btn btn-custom green next-step">Save and Continue</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>