<!-- Page Wrapper -->
<div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
        <app-tickers></app-tickers>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Withdraw Amount</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="my-account/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Withdraw Amount</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card shadowbox">
                    <div class="card-body">
                        <div class="row">

                            <div *ngIf="loginUserType==2" class="col-4">
                                <div class="loginform">
                                    <!-- <button class="btn btn-custom green form-control" *ngIf="!is_account_available" (click)="openPopup()"> Add Refund Account</button> -->
                                    <button *ngIf="!is_account_available" (click)="openPopup()" data-toggle="modal" data-target="#openmodal" class="btn btn-custom green"><i class="fa fa-plus"></i> Add Refund Account</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">

                            <div *ngIf="loginUserType==5 || loginUserType==1 || loginUserType==2" class="col-md-6">
                                <form [formGroup]="formRecodEditWithdraw" method="post" (ngSubmit)="withdrawAmountFromWallet()" class="row">
                                    <div *ngIf="is_account_available" class="col-md-3">
                                        <input formControlName="add_amount" type="text" maxlength="9" class="form-control" placeholder="Add amount in wallet" autocomplete="off">

                                        <div class="error" *ngIf="submitted && formRecodEditWithdraw.controls.add_amount.errors">
                                            <div *ngIf="submitted && formRecodEditWithdraw.controls.add_amount.errors.required">
                                                Please enter amount.
                                            </div>
                                            <div *ngIf="submitted && formRecodEditWithdraw.controls.add_amount.errors.pattern">
                                                Please enter valid amount.
                                            </div>
                                            <div *ngIf="submitted && formRecodEditWithdraw.controls.add_amount.errors.min">
                                                Please enter amount above 1.
                                            </div>
                                            <div *ngIf="submitted && formRecodEditWithdraw.controls.add_amount.errors.max">
                                                Please enter amount above 1.
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="is_account_available" class="col-md-3">
                                        <button class="btn btn-custom green form-control" type="submit"> withdraw Amount</button>
                                    </div>
                                </form>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>







        <div id="openmodal" class="modal custom-modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form [formGroup]="formRecodEdit" method="post" (ngSubmit)="submitForm()">


                        <div class="modal-header">
                            <h4 class="modal-title">{{ popupTitle }}</h4>
                            <button #closebutton (click)="closePopup()" type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <div class="row">


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Account Holder Name:</label>
                                        <input formControlName="acc_holder_name" type="text" class="form-control">

                                        <div class="error" *ngIf="submitted && formRecodEdit.controls.acc_holder_name.errors">
                                            <div *ngIf="submitted && formRecodEdit.controls.acc_holder_name.errors.required">
                                                Name is required.
                                            </div>
                                            <div class="error" *ngIf="submitted && formRecodEdit.controls.acc_holder_name.errors.pattern">
                                                Please enter valid Name.
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Account Number:</label>
                                        <input formControlName="account_no" type="text" class="form-control" minlength="9" maxlength="18">

                                        <div class="error" *ngIf="submitted && formRecodEdit.controls.account_no.errors">
                                            <div *ngIf="submitted && formRecodEdit.controls.account_no.errors.required">
                                                Account Number is required.
                                            </div>
                                            <div *ngIf="submitted && formRecodEdit.controls.account_no.errors.pattern">
                                                Please enter valid Account Number.
                                            </div>

                                            <div *ngIf="submitted && (formRecodEdit.controls.account_no.errors.minlength || formRecodEdit.controls.account_no.errors.maxlength)">
                                                Please enter valid Account Number.
                                            </div>



                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>IFSC Code:</label>
                                        <input formControlName="ifsc_code" (change)="getBankDetails($event.target.value)" (keyup)="getBankDetails($event.target.value)" maxlength="11" type="text" class="form-control">

                                        <div class="error" *ngIf="submitted && formRecodEdit.controls.bank_name.errors">
                                            <div class="error" *ngIf="submitted && formRecodEdit.controls.ifsc_code.errors.required">
                                                Please enter valid IFSC code
                                            </div>
                                            <div class="error" *ngIf="submitted && formRecodEdit.controls.ifsc_code.errors.pattern">
                                                Please enter valid IFSC code.
                                            </div>
                                        </div>



                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Bank Name:</label>
                                        <input formControlName="bank_name" type="text" class="form-control" readonly>

                                        <div class="error" *ngIf="submitted && formRecodEdit.controls.bank_name.errors">
                                            <div *ngIf="submitted && formRecodEdit.controls.bank_name.errors.required">
                                                Bank Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Branch Name:</label>
                                        <input formControlName="branch_name" type="text" class="form-control" readonly>
                                        <div class="error" *ngIf="submitted && formRecodEdit.controls.branch_name.errors">
                                            <div *ngIf="submitted && formRecodEdit.controls.branch_name.errors.required">
                                                Branch Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6 col-12">
                                    <div class="card shadowbox">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 class="my-2"><b>upload cancelled cheque: <sup
                                                class="text-danger">*</sup></b></h5>
                                                    <label>{{name_invoicelabel}}</label>
                                                </div>
                                                <div class="col-8">
                                                    <div class="box fileuploadbox">
                                                        <input type="file" id="name_invoice-1" class="inputfile" data-multiple-caption="{count} files selected" (change)="uploadInvoicecopy($event)">
                                                        <label for="name_invoice-1">
                                              <figure>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                                                  viewBox="0 0 20 17">
                                                  <path
                                                    d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                                                  </path>
                                                </svg>
                                              </figure>
                                              <span>{{name_invoiceurl_label}}</span>
                                            </label>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="uploaded-img">
                                                        <img [src]="invoiceurl" alt="">

                                                    </div>
                                                </div>
                                                <div *ngIf="submitted &&  formRecodEdit.controls.upload_cancel_cheque.errors">
                                                    <small *ngIf="submitted && formRecodEdit.controls.upload_cancel_cheque.errors.required" class="text-danger">
                                            Please upload cancelled cheque.
                                          </small>
                                                    <small *ngIf="formRecodEdit.controls.upload_cancel_cheque.errors?.requiredFileType" class="text-danger">
                                            Allowed file type "jpg", "png", "jpeg", "pdf"
                                          </small>
                                                    <small *ngIf="formRecodEdit.controls.upload_cancel_cheque.errors?.fileSizeValidator" class="text-danger">
                                            Allowed file size is 5 MB.
                                          </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="alert {{msgClass}}" [ngStyle]="{'display':display}">
                                        <strong>{{responseMsg}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-section">
                                <input *ngIf="btnEditSubmit" class="btn btn-custom green btn-lg" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
    <app-loader [loaderActive]="loaderActive"></app-loader>
    <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
