<div class="page-wrapper pt-4 pb-0" *ngIf="result_output_data">

    <!-- Page Content -->
    <div class="content">

        <div class="container-md">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-10">
                    <div class="card shadowbox mb-0">
                        <div class="card-body">
                            <div class="payment-success">
                                <div class="tophead">
                                    <div class="success-icon">
                                        <i class="fa fa-check-circle"></i>
                                    </div>
                                    <h2>Congratulations, <span>{{result_output_data.full_name}}.</span></h2>
                                    <h3>Your policy has been booked successfully.</h3>


                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-md-5 col-12">
                                        <div class="policynobox card">
                                            <div class="card-body">
                                                <h4>Your Policy Number</h4>
                                                <h3>{{result_output_data.policy_no}}</h3>
                                            </div>
                                        </div>
                                        <div class="premiumpaid">
                                            <h4>Premium Paid <span><i class="fa fa-inr"></i> {{result_output_data.gross_premium}}</span></h4>
                                        </div>
                                        <div class="text-center">
                                            <a (click)="downloadPolicy()" href="javascript:void(0);" class="btn btn-custom green my-2 w-100">
                                                <i class="fa fa-download mr-1"></i> Download Policy
                                            </a>
                                            <a *ngIf="is_dealer_url_with_login" [routerLink]="['/home']" href="javascript:void(0);" class="btn btn-custom green my-2 w-100">
                                                <i class="fa fa-file-text-o mr-1"></i> Buy Another Policy
                                            </a>
                                            <a *ngIf="is_dealer_url_with_login" [routerLink]="['/my-account/dashboard']" href="javascript:void(0);" class="btn btn-custom green my-2 w-100">
                                                <i class="fa fa-user mr-1"></i> Go To Myaccount
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="card shadowbox border">
                                            <div class="card-header">
                                                <div class="row justify-content-center align-items-center ">
                                                    <div class="col-lg-4 col-md-4 col-12 insurer-box">
                                                        <img src="assets/front/img/partners-logos/{{result_output_data.ic_logo}}" alt="">
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-12 insurer-co">
                                                        <h4>{{result_output_data.ic_code}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul class="infolist">

                                                            <li *ngIf="result_output_data.proposer_type_id == 2">
                                                                <div class="title">Company Name:</div>
                                                                <div class="text">{{result_output_data.company_name}}</div>
                                                            </li>

                                                            <li *ngIf="result_output_data.proposer_type_id == 2">
                                                                <div class="title">Company Owner:</div>
                                                                <div class="text">{{result_output_data.company_full_name}}</div>
                                                            </li>

                                                            <li *ngIf="result_output_data.proposer_type_id == 2">
                                                                <div class="title">Company Owner Email:</div>
                                                                <div class="text">{{result_output_data.company_owner_email}}</div>
                                                            </li>

                                                            <li *ngIf="result_output_data.proposer_type_id == 1">
                                                                <div class="title">Insured Name (Age):</div>
                                                                <div class="text">{{result_output_data.full_name}} ({{result_output_data.proposer_age}})</div>
                                                            </li>
                                                            <li *ngIf="result_output_data.proposer_type_id == 1">
                                                                <div class="title">Phone Number:</div>
                                                                <div class="text">{{result_output_data.proposer_mobile_no}}</div>
                                                            </li>
                                                            <li *ngIf="result_output_data.proposer_type_id == 1">
                                                                <div class="title">Email Address:</div>
                                                                <div class="text">{{result_output_data.proposer_email}}</div>
                                                            </li>
                                                            <li>
                                                                <div class="title">Policy Start:</div>
                                                                <div class="text">{{result_output_data.policy_start_date}} {{result_output_data.policy_start_time}}</div>
                                                            </li>
                                                            <li>
                                                                <div class="title">Policy End:</div>
                                                                <div class="text">{{result_output_data.policy_end_date}} {{result_output_data.policy_end_time}}</div>
                                                            </li>
                                                            <li>
                                                                <div class="title">Vehicle Reg. No.:</div>
                                                                <div class="text" *ngIf="result_output_data.registration_no_part_3">
                                                                    {{ result_output_data.rto_label | uppercase }} {{ result_output_data.registration_no_part_3 | uppercase}} {{ result_output_data.registration_no_part_4 | uppercase}}
                                                                </div>
                                                                <div class="text" *ngIf="!result_output_data.registration_no_part_3">-</div>
                                                            </li>
                                                            <li>
                                                                <div class="title">Chassis No.:</div>
                                                                <div class="text">{{ result_output_data.chassis_no | uppercase }}</div>
                                                            </li>
                                                            <li>
                                                                <div class="title">Engine No.:</div>
                                                                <div class="text">{{ result_output_data.engine_no | uppercase }}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Content -->
</div>

<app-loader [loaderActive]="loaderActive">

</app-loader>