.font-style
{
    font-size: 42px;
    float: left;
    background-color: #25aae1;
    padding: 7px 17px 7px;
    border-radius: 12px;
    color: #fff;
    margin-right: 10px;
}

#compareclass
{
    font-size: 11px; 
    font-weight: 500; 
    padding-left: 21px;
}

#rowclass
{
    background: #fff;
    box-shadow: 0px 0px 5px #88888847, 0px -7px 10px #88888857;
    padding-top: 30px;
    padding-bottom: 30px;
}