.font-style
{
    font-size: 42px;
    float: left;
    background-color: #25aae1;
    padding: 7px 17px 7px;
    border-radius: 12px;
    color: #fff;
    margin-right: 10px;
}

.paddingfont
{
    padding-bottom: 10px;
    font-size: 14px;
}

.finalamt
{
    color: #fff; 
    background:#25aae1; 
    padding: 10px;
    border-radius: 5px;
}
