
.idv-input {
    border: none;
    border-bottom: 1px solid #dfdfdf;
    letter-spacing: 1px;
    font-size: 11px;
    padding: 5px;
    width: 100%;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    max-width: 100%;
    resize: none;
    font-size: 1rem;
    max-width: 90px;
}

.fw-600{font-weight: 600!important;}